<section class="news">
                    <div class="news__container">
                        <div class="news__header" data-animation>
                            <h2 class="news__title title-xl">
                                {{TITLE}}
                            </h2>
                            <a href="/articles/" class="news__more more-link">
                                Смотреть все
                            </a>
                        </div>
                        <div class="news__items">
                            {{LIST}}
                        </div>
                    </div>
                </section>
