<section class="page__feedback feedback" data-animation>
                <div class="feedback__container">
                    <div class="feedback__content">
                        <form action="/form/add-question/" class="feedback__form form" method="post">
                            <h2 class="feedback__title title-xl">
                                {{TITLE}}
                            </h2>
                            <div class="form__rows">
                                <div class="form__row">
                                    <input type="text" name="name" data-required class="form__input" placeholder="Имя">
                                    <input type="tel" name="phone" data-required class="form__input" placeholder="Телефон">
                                    <input type="email" name="email" data-required class="form__input" placeholder="Email">
                                </div>
                                <div class="form__row">
                                    <textarea name="message" class="form__textarea" data-required placeholder="Сообщение"></textarea>
                                </div>
                            </div>
                            <div class="form__footer">
                                <label class="form__checkbox">
                                    <input type="checkbox" name="privacy" checked data-required class="form__checkbox-input hidden">
                                    <span class="form__checkbox-content">
                                        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
                                    </span>
                                </label>
                                <button type="submit" class="form__btn btn btn-blue btn-mobile-mw btn-lg">
                                    Отправить
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="feedback__image">
                        <img src="/img/feedback.svg" alt="icon message">
                    </div>
                </div>
            </section>