<section class="page__main main">
                <div class="main__container">
                    <div class="main__body main__body-md">
                        {{BREADCRUMBS}}

                        <h1 class="main__title title-xl">
                            {{TITLE}}
                        </h1>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in></canvas>
            </section>
            <div class="page__contacts contacts">
                <div class="contacts__container">
                    <div class="contacts__cards">
                        <div class="contacts__card">
                            <div class="contacts__card-caption">
                                Телефон:
                            </div>
                            <div class="contacts__card-content">
                                <a href="tel:{{PHONELINK}}" class="contacts__card-item">{{PHONE}}</a>
                                <a href="tel:{{PHONECOMMONLINK}}" class="contacts__card-item">{{PHONECOMMON}}</a>
                            </div>
                        </div>
                        <div class="contacts__card">
                            <div class="contacts__card-caption">
                                Почта:
                            </div>
                            <div class="contacts__card-content">
                                <a href="mailto:{{EMAIL}}" class="contacts__card-item">{{EMAIL}}</a>
                                <a href="mailto:{{EMAILCOMMON}}" class="contacts__card-item">{{EMAILCOMMON}} <br>
                                    ({{LABELCOMMON}})</a>
                            </div>
                        </div>
                        <div class="contacts__card">
                            <div class="contacts__card-caption">
                                Адрес:
                            </div>
                            <div class="contacts__card-content">
                                <p class="contacts__card-item">
                                    {{LOCATION}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__map" id="map"></div>
                </div>
            </div>
            {{FORM}}
            