<div class="holder">
            <div id="contacts-full">
                <h1>{{TITLE}}</h1>

                <ul>
                    <li class="address">
                        <div class="label">Адрес:</div>
                        <div class="value">{{LOCATION}}</div>
                    </li>
                    <li class="tel">
                        <div class="label">Телефон:</div>
                        <div class="value"><a href="tel:{{PHONE}}">{{PHONE}}</a><br><a href="tel:{{PHONECOMMON}}">{{PHONECOMMON}} ({{LABELCOMMON}})</a></div>
                    </li>
                    <li class="email">
                        <div class="label">Почта:</div>
                        <div class="value"><a href="mailto:{{EMAIL}}">{{EMAIL}}</a><br><a href="mailto:{{EMAILCOMMON}}">{{EMAILCOMMON}} ({{LABELCOMMON}})</a></div>
                    </li>
                </ul>

                <div id="map"></div>
            </div>
        </div>

        {{FORM}}