<section class="video">
    <div class="video__container">
        <div class="video__content">
            <button type="button" data-modal="modal" data-video-vk data-video-code-rus="{{CODERUS}}" data-video-code-eng="{{CODEENG}}" data-video-owner="{{OWNER}}" class="video__btn icon-play"></button>
            <div class="video__main">
                <h2 class="video__title title-md">
                    Видео о нас
                </h2>
                <div class="video__desc">
                    Посмотрите, как устроены наши логистические комплексы и&nbsp;производства
                </div>
            </div>
            <div class="video__image">
                <div class="video__image-wrapper">
                    <picture><source srcset="/img/scaling/video.webp" type="image/webp"><img src="/img/scaling/video.png" class="cover-image" alt="video"></picture>
                </div>
            </div>
        </div>
    </div>
</section>