<section class="page__video video">
                    <div class="video__container">
                        <div class="video__body">
                            <div class="video__main">
                                <h2 class="video__title title-xl">
                                    Видео о нас
                                </h2>
                                <div class="video__desc">
                                    Посмотрите, как устроены наши логистические комплексы и&nbsp;производства
                                </div>
                            </div>
                            <button type="button" data-modal="modal" data-video-code-rus="{{CODERUS}}" data-video-code-eng="{{CODEENG}}" class="video__link icon-play">
                                <picture><source srcset="/img/benefits/01.webp" type="image/webp"><img src="/img/benefits/01.jpg" class="cover-image" alt="video preview"></picture>
                            </button>
                        </div>
                    </div>
                </section>