<div id="logistic-{{ORDER}}" class="logistics__item" data-animation>
                            <picture><source srcset="{{IMAGEWEBP}}" type="image/webp"><img src="{{IMAGE}}" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
                            <div class="logistics__item-title">
                                {{TITLE}}
                            </div>
                            <div class="logistics__item-place">
                                г. {{TITLESHORT}}
                            </div>
                            <ul class="logistics__item-list">
                                <li class="logistics__item-block">
                                    <div class="logistics__item-caption">
                                        Адрес:
                                    </div>
                                    <div class="logistics__item-content">
                                        {{ADDRESS}}
                                    </div>
                                </li>
                                <li class="logistics__item-block">
                                    <div class="logistics__item-caption">
                                        Время работы:
                                    </div>
                                    <div class="logistics__item-content">
                                        {{SCHEDULE}}
                                    </div>
                                </li>
                                <li class="logistics__item-block">
                                    <div class="logistics__item-caption">
                                        Телефон:
                                    </div>
                                    <div class="logistics__item-content">
                                        <a href="tel:{{TELLINK}}">
                                            {{TEL}}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>