<section class="page__team team">
                <div class="team__container">
                    <div class="team__header" data-animation>
                        <h2 class="team__title title-xxl">
                            Главные лица
                        </h2>
                        <a href="company/direction/" class="team__more more-link">
                            Смотреть все
                        </a>
                    </div>
                    <div class="team__body" data-animation>
                        {{LIST}}
                    </div>
                    <div class="team__btn">
                        <a href="/company/direction/" class="btn btn-blue">
                            Смотреть все
                        </a>
                    </div>
                </div>
            </section>