<div class="production__slider swiper">
                                <div class="swiper-wrapper">
                                    {{LIST}}
                                </div>
                                <div class="production__controls">
                                    <button type="button" class="production__prev swiper-button-prev"></button>
                                    <button type="button" class="production__next swiper-button-next"></button>
                                </div>
                            </div>