<div class="production__slide swiper-slide">
                                        <picture><source srcset="{{IMAGEWEBP}}" type="image/webp"><img src="{{IMAGE}}" class="cover-image" alt="{{ALT}}"></picture>
                                        <div class="production__slide-info">
                                            <{{HTAG}} class="production__slide-title title-lg">
                                                {{TITLE}}
                                            </{{HTAG}}>
                                            <a href="{{LINK}}" class="production__slide-btn btn btn-orange">{{BUTTON}}</a>
                                        </div>
                                    </div>
                          
                    