<div class="companies__column companies-partners">
                            <div class="companies__column-header">
                                <h3 class="companies__title title-lg">
                                    {{TITLE}}
                                </h3>
                                <a href="/company/partners/" class="companies__more more-link">Смотреть все</a>
                            </div>
                            <div class="companies__column-body">
                               {{LIST}}
                            </div>
                            <div class="companies__column-btn">
                                <a href="/company/partners/" class="btn btn-orange">
                                    Смотреть все
                                </a>
                            </div>
                        </div>