<section class="page__serts serts">
				<div class="serts__container">
					<div class="serts__image">
						<picture><source srcset="/img/serts.webp" type="image/webp"><img src="/img/serts.png" alt="{{ALT}}"></picture>
					</div>
					<div class="serts__body">
						<h2 class="serts__title title-lg">
							{{TITLE}}
						</h2>
						<p class="serts__text">
							{{TEXT}}
						</p>
						<a href="/certs/" target="_blank" class="serts__btn btn btn-orange btn-md">
							Скачать сертификаты
						</a>
					</div>
					<div class="serts__logo">
						<img src="/img/logo-lg.svg" alt="logo">
					</div>
				</div>
			</section>