		<div class="holder">
            <div id="company">
                <main class="col-c">
                    <h1>{{TITLE}}</h1>

                    <div class="text">
                        {{CONTENTTOP}}
                    </div>

                    <ul class="nav">
                    	{{INCLUDE:NAV}}
                    </ul>

                    {{BLOCKMISSION}}
                    {{BLOCKSTANDARTS}}
                    {{BLOCKGUARANTEES}}
                </main><!--

                --><aside class="col-r">
                    {{VIDEO}}

                    {{ADVANTAGES}}
                </aside>
            </div>
        </div>

        <div id="bl-products">
            <section class="blue inverted limited">
                <div class="holder">
                    <h2 class="h1">{{BLOCKPRODUCTIONHEADING}}</h2>
                    {{BLOCKPRODUCTIONANNO}}
                </div>
            </section>
    
            <!--
            <div class="bl-gallery">
                <ul class="js-slider" data-adaptive="true" data-dots="false" data-arrows="false" data-autoplay="true">
                    <li><a href="assets/images/_photo5.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo5.jpg" alt="#" title="#"></a></li>
                    <li><a href="assets/images/_photo6.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo6.jpg" alt="#" title="#"></a></li>
                    <li><a href="assets/images/_photo7.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo7.jpg" alt="#" title="#"></a></li>
                    <li><a href="assets/images/_photo8.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo8.jpg" alt="#" title="#"></a></li>
                    <li><a href="assets/images/_photo6.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo6.jpg" alt="#" title="#"></a></li>
                    <li><a href="assets/images/_photo7.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo7.jpg" alt="#" title="#"></a></li>
                    <li><a href="assets/images/_photo8.jpg" class="js-lightbox" data-gallery="products"><img src="assets/images/_photo8.jpg" alt="#" title="#"></a></li>
                </ul>
            </div>
        -->

            <div class="bl-gallery">
                <ul class="js-slider" data-adaptive="true" data-dots="false" data-arrows="false" data-autoplay="true">
                </ul>
            </div>

            <div class="content holder">
                {{BLOCKPRODUCTIONTEXT}}
            </div>
        </div>
