<section class="main main-offset">
                    <div class="main__container">
                        <div class="main__body">
                            {{BREADCRUMBS}}
                            <h1 class="main__title title-xl">
                                {{TITLE}}
                            </h1>
                        </div>
                    </div>
                </section>
                <div class="companies companies-offset">
                    <div class="companies__container">
                        <div class="companies__grid">
                            {{LIST}}
                        </div>
                    </div>
                </div>