<section id="lottie" class="page__main main">
                <div class="main__container">
                    <div class="main__body main__body-sm">
                        {{BREADCRUMBS}}
                        <h1 class="main__title title-xl">
                            {{TITLE}}
                        </h1>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in></canvas>
            </section>
            <section class="page__team team team-offset">
                <div class="team__container">
                    <div class="team__body">
                        {{LIST}}
                    </div>
                </div>
            </section>