<section id="lottie" class="page__main main">
                <div class="main__container">
                    <div class="main__body main__body-md">
                        {{BREADCRUMBS}}
                        <h1 class="main__title title-xl">
                            {{TITLE}}
                        </h1>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in>
            </section>
            <section class="page__about about">
                <div class="about__container">
                    <div class="about__image">
                        <picture><source srcset="/img/about.webp" type="image/webp"><img src="/img/about.jpg" class="cover-image" alt="ПСК СтройИнвест"></picture>
                    </div>
                    <div class="about__body">
                        <div class="about__text article__content">
                            <div>
                                {{CONTENTTOP}}
                            </div>
                        </div>
                        {{ADVANTAGES}}

                        {{BLOCKMISSION}}
                        {{BLOCKSTANDARTS}}
                        {{BLOCKGUARANTEES}}

                        {{VIDEO}}                        
                    </div>
                </div>
            </section>
            <section class="page__equipment equipment">
                <div class="equipment__container">
                    <div class="equipment__body">
                        <h2 class="equipment__title title-lg" data-animation>
                            {{BLOCKPRODUCTIONHEADING}}
                        </h2>
                        <div class="equipment__subtitle" data-animation>
                            {{BLOCKPRODUCTIONANNO}}
                        </div>
                        <div class="equipment__items">
                            {{BLOCKPRODUCTIONTEXT}}
                        </div>
                    </div>
                </div>
            </section>
            {{CERTIFICATES}}
