<section id="lottie" class="page__main main">
                <div class="main__container">
                    <div class="main__body main__body-md">
                        {{BREADCRUMBS}}
                        <h1 class="main__title title-xl">
                            {{TITLE}}
                        </h1>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in></canvas>
            </section>
            <div class="page__sert sert">
                <div class="sert__container">
                    {{LIST}}
                </div>
            </div>