<section class="main">
                    <div class="main__container">
                        <div class="main__body main__body-sm">
                            {{BREADCRUMBS}}
                            <h1 class="main__title title-xl main__title-offset">
                                {{TITLE}}
                            </h1>
                        </div>
                    </div>
                </section>
                <div class="team">
                    <div class="team__container">
                        <div class="team__body">
                            {{LIST}}
                        </div>
                    </div>
                </div>