<!doctype html>
<html lang="{{LANG}}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
	
	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<title>{{TITLE}}</title>
	<link rel="stylesheet" href="/personal/assets/css/style.css{{VERSION}}"/>
</head>

<body>	
	<div id="layout" class="contact-data">
		<header>
			<div class="holder">
				<span id="logo">
					<img src="/personal/assets/images/logo-black.svg" alt="ПСК СтройИнвест">
				</span>
			</div>
		</header>

		<div class="holder">
			{{CONTENT}}
		</div>
	</div>
  	<script type="text/javascript">
  		//
  	</script>
</body>
</html>