<!doctype html>
<html lang="{{LANG}}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v2">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v2">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v2">
	<link rel="manifest" href="/assets/images/site.webmanifest?v2">
	<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v2" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico?v2">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/assets/images/browserconfig.xml?v2">
	<meta name="theme-color" content="#ffffff">
	<title>{{TITLE}}</title>
	<link rel="stylesheet" href="/assets/css/style.css{{VERSION}}"/>
</head>

<body>	
	<div id="layout" class="contact-data">
		<header>
			<div class="holder">
				<span id="logo">
					<img src="/assets/images/logo.svg" alt="">
				</span>
			</div>
		</header>

		<div class="holder">
			{{CONTENT}}
		</div>
	</div>
  	<script type="text/javascript">
  		//
  	</script>
</body>
</html>