<!DOCTYPE html>
<html lang="ru">

	<head>
	<title> ПСК | О компании | Логистический комплекс </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css?_v=20231225203242">
	<link rel="stylesheet" href="css/reset.min.css?_v=20231225203242">
	<link rel="stylesheet" href="css/style.min.css?_v=20231225203242">


</head>

	<body>
		<div class="wrapper">
			<header class="header header-white">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-scaling.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 991.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                    <a href="mailto:sales@psk-si.ru" class="header-top__contact-link">
                        sales@psk-si.ru
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:88432333923" class="header-top__contact-link">
                        8 (843) 2-333-923
                    </a>
                    <a href="mailto:info@psk-si.ru" class="header-top__contact-link">
                        info@psk-si.ru
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link">О КОМПАНИИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/media.html" class="submenu__link">
                                    Медиагалерея
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="" class="menu__link">АРМАТУРА ДЛЯ СИП</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu submenu-lg">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая арматура СИП-1 и СИП-2
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая группа СИП-4
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Вспомогательная арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Ответвительно-прокалывающая арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Соединительная арматура
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="/complex.html" class="menu__link">КОМПЛЕКСНЫЕ ПОСТАВКИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Изделия
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
			<main class="page">
				<section class="main">
					<div class="main__container">
						<div class="main__body">
							<ul class="main__navigation navigation">
								<li class="navigation__item">
									<a href="/" class="navigation__link">Главная</a>
								</li>
								<li class="navigation__item">
									<a class="navigation__link active">Комплексные поставки </a>
								</li>
							</ul>
							<h1 class="main__title title-xl main__title-offset">
								Комплексные поставки
							</h1>
							<div class="main__image">
								<picture><source srcset="img/complex.webp"type="image/webp"><img src="img/complex.jpg" class="cover-image" alt="complex"></picture>
							</div>
						</div>
					</div>
				</section>
				<section class="equipment">
					<div class="equipment__container">
						<div class="equipment__body">
							<h2 class="equipment__title title-xl" data-animation>
								На нашем складе всегда в&nbsp;наличии
							</h2>
							<div class="equipment__items">
								<div class="equipment__item" data-animation>
									<div class="equipment__caption">
										Низковольтное оборудование
									</div>
									<ul class="equipment__list">
										<li class="equipment__list-item">Стабилизаторы напряжения</li>
										<li class="equipment__list-item">Автоматические выключатели</li>
										<li class="equipment__list-item">Электросчетчики</li>
										<li class="equipment__list-item">Устройства защиты от дифференциального тока</li>
										<li class="equipment__list-item">Преобразователи напряжения</li>
										<li class="equipment__list-item">Коммутационные устройства</li>
									</ul>
								</div>
								<div class="equipment__item" data-animation>
									<div class="equipment__caption">
										Оборудование среднего напряжения
									</div>
									<ul class="equipment__list">
										<li class="equipment__list-item">Щитовое оборудование 10 кВ</li>
										<li class="equipment__list-item">ЩСН, ВРУ, УКРМ</li>
										<li class="equipment__list-item">Шкафы РЗА</li>
										<li class="equipment__list-item">Трансформаторы: силовые сухие (ТСЗ, ТСЗЛ);
											разделительные (ТРТ); измерительные</li>
										<li class="equipment__list-item">Источники бесперебойного питания, аккумуляторные
											батареи</li>
									</ul>
								</div>
								<div class="equipment__item" data-animation>
									<div class="equipment__caption">
										Высоковольтное оборудование
									</div>
									<ul class="equipment__list">
										<div class="equipment__list-item">Источники электроэнергии высокого напряжения</div>
										<div class="equipment__list-item">Трансформаторы</div>
										<div class="equipment__list-item">Распределительные подстанции</div>
									</ul>
								</div>
								<div class="equipment__item" data-animation>
									<div class="equipment__caption">
										Кабельно-проводниковая продукция
									</div>
									<ul class="equipment__list">
										<li class="equipment__list-item">Кабели на напряжение 0,66 – 330кВ</li>
										<li class="equipment__list-item">Кабельная арматура</li>
										<li class="equipment__list-item">Оборудование для монтажа кабельных линий</li>
									</ul>
								</div>
								<div class="equipment__item" data-animation>
									<div class="equipment__caption">
										Металлоконструкции
									</div>
									<ul class="equipment__list">
										<li class="equipment__list-item">Металлопрокат</li>
										<li class="equipment__list-item">Балки, фермы</li>
										<li class="equipment__list-item">Металлоконструкции для быстровозводимых зданий</li>
									</ul>
								</div>
								<div class="equipment__item" data-animation>
									<div class="equipment__caption">
										Опоры ЛЭП
									</div>
									<ul class="equipment__list">
										<li class="equipment__list-item">Деревянные опоры ЛЭП</li>
										<li class="equipment__list-item">Опоры ЛЭП железобетонные</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="complex">
					<div class="complex__container">
						<h2 class="complex__heading title-xl">
							Логистический комплекс
						</h2>
						<div data-tabs class="complex__tabs tabs">
							<div class="tabs__controls" data-spollers="767.98, max">
								<div class="tabs__caption spoller-caption" data-spoller></div>
								<div class="tabs__spoller">
									<div class="tabs__buttons">
										<button class="tabs__button" data-tab-button>
											Казань
										</button>
										<button class="tabs__button" data-tab-button>
											Набережные Челны
										</button>
										<button class="tabs__button" data-tab-button>
											Буинск
										</button>
										<button class="tabs__button" data-tab-button>
											Чистополь
										</button>
										<button class="tabs__button" data-tab-button>
											Бугульма
										</button>
									</div>
								</div>

							</div>
							<div class="tabs__content">
								<div class="tabs__content-item" data-tab-content>
									<div class="complex__item">
										<div class="complex__section">
											<div class="complex__title title-md">
												Логистический центр
											</div>
											<div class="complex__place">
												г. Казань
											</div>
											<ul class="complex__spectification">
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Кабелеотмоточный станок
													</div>
													<div class="complex__spectification-value count-number">
														1
													</div>
												</li>
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Полезная площадь склада
													</div>
													<div class="complex__spectification-value ">
														<span class="count-number">6850</span> м²
													</div>
												</li>
											</ul>
											<div class="complex__caption">
												Погрузочная техника:
											</div>
											<ul class="complex__list">
												<li class="complex__list-item">Кран балки - 2 шт.</li>
												<li class="complex__list-item">Автопогрузчики - 4 шт.</li>
												<li class="complex__list-item">Штабелер - 1 шт.</li>
												<li class="complex__list-item">Трактор - 1 шт.</li>
												<li class="complex__list-item">Гидровлические тележки</li>
											</ul>
											<div class="complex__delivery icon-transport">
												Доставка в границах обслуживания 24/7
											</div>
										</div>
										<div class="complex__section">
											<div class="complex__gallery">
												<a href="img/gallery/01.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/01.webp"type="image/webp"><img src="img/gallery/01.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/02.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/02.webp"type="image/webp"><img src="img/gallery/02.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/04.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/04.webp"type="image/webp"><img src="img/gallery/04.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/03.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/03.webp"type="image/webp"><img src="img/gallery/03.png" class="cover-image" alt="gallery picture"></picture>
													<span class="complex__gallery-quantity">
														Смотреть еще 10
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs__content-item" data-tab-content>
									<div class="complex__item">
										<div class="complex__section">
											<div class="complex__title title-md">
												Распределительный склад
											</div>
											<div class="complex__place">
												г. Набережные Челны
											</div>
											<ul class="complex__spectification">
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Кабелеотмоточный станок
													</div>
													<div class="complex__spectification-value count-number">
														1
													</div>
												</li>
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Полезная площадь склада
													</div>
													<div class="complex__spectification-value ">
														<span class="count-number">6850</span> м²
													</div>
												</li>
											</ul>
											<div class="complex__title title-md">
												Погрузочная техника:
											</div>
											<ul class="complex__list">
												<li class="complex__list-item">Кран балки - 2 шт.</li>
												<li class="complex__list-item">Автопогрузчики - 4 шт.</li>
												<li class="complex__list-item">Штабелер - 1 шт.</li>
												<li class="complex__list-item">Трактор - 1 шт.</li>
												<li class="complex__list-item">Гидровлические тележки</li>
											</ul>
											<div class="complex__delivery icon-transport">
												Доставка в границах обслуживания 24/7
											</div>
										</div>
										<div class="complex__section">
											<div class="complex__gallery">
												<a href="img/gallery/01.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/01.webp"type="image/webp"><img src="img/gallery/01.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/02.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/02.webp"type="image/webp"><img src="img/gallery/02.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/04.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/04.webp"type="image/webp"><img src="img/gallery/04.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/03.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/03.webp"type="image/webp"><img src="img/gallery/03.png" class="cover-image" alt="gallery picture"></picture>
													<span class="complex__gallery-quantity">
														Смотреть еще 10
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs__content-item" data-tab-content>
									<div class="complex__item">
										<div class="complex__section">
											<div class="complex__title title-md">
												Распределительный склад
											</div>
											<div class="complex__place">
												г. Буинск
											</div>
											<ul class="complex__spectification">
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Кабелеотмоточный станок
													</div>
													<div class="complex__spectification-value count-number">
														1
													</div>
												</li>
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Полезная площадь склада
													</div>
													<div class="complex__spectification-value ">
														<span class="count-number">6850</span> м²
													</div>
												</li>
											</ul>
											<div class="complex__title title-md">
												Погрузочная техника:
											</div>
											<ul class="complex__list">
												<li class="complex__list-item">Кран балки - 2 шт.</li>
												<li class="complex__list-item">Автопогрузчики - 4 шт.</li>
												<li class="complex__list-item">Штабелер - 1 шт.</li>
												<li class="complex__list-item">Трактор - 1 шт.</li>
												<li class="complex__list-item">Гидровлические тележки</li>
											</ul>
											<div class="complex__delivery icon-transport">
												Доставка в границах обслуживания 24/7
											</div>
										</div>
										<div class="complex__section">
											<div class="complex__gallery">
												<a href="img/gallery/01.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/01.webp"type="image/webp"><img src="img/gallery/01.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/02.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/02.webp"type="image/webp"><img src="img/gallery/02.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/04.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/04.webp"type="image/webp"><img src="img/gallery/04.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/03.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/03.webp"type="image/webp"><img src="img/gallery/03.png" class="cover-image" alt="gallery picture"></picture>
													<span class="complex__gallery-quantity">
														Смотреть еще 10
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs__content-item" data-tab-content>
									<div class="complex__item">
										<div class="complex__section">
											<div class="complex__title title-md">
												Распределительный склад
											</div>
											<div class="complex__place">
												г. Чистополь
											</div>
											<ul class="complex__spectification">
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Кабелеотмоточный станок
													</div>
													<div class="complex__spectification-value count-number">
														1
													</div>
												</li>
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Сотрудника склада
													</div>
													<div class="complex__spectification-value count-number">
														4
													</div>
												</li>
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Полезная площадь склада
													</div>
													<div class="complex__spectification-value ">
														<span class="count-number">6850</span> м²
													</div>
												</li>
											</ul>
											<div class="complex__title title-md">
												Погрузочная техника:
											</div>
											<ul class="complex__list">
												<li class="complex__list-item">Кран балки - 2 шт.</li>
												<li class="complex__list-item">Автопогрузчики - 4 шт.</li>
												<li class="complex__list-item">Штабелер - 1 шт.</li>
												<li class="complex__list-item">Трактор - 1 шт.</li>
												<li class="complex__list-item">Гидровлические тележки</li>
											</ul>
											<div class="complex__delivery icon-transport">
												Доставка в границах обслуживания 24/7
											</div>
										</div>
										<div class="complex__section">
											<div class="complex__gallery">
												<a href="img/gallery/01.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/01.webp"type="image/webp"><img src="img/gallery/01.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/02.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/02.webp"type="image/webp"><img src="img/gallery/02.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/04.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/04.webp"type="image/webp"><img src="img/gallery/04.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/03.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/03.webp"type="image/webp"><img src="img/gallery/03.png" class="cover-image" alt="gallery picture"></picture>
													<span class="complex__gallery-quantity">
														Смотреть еще 10
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs__content-item" data-tab-content>
									<div class="complex__item">
										<div class="complex__section">
											<div class="complex__title title-md">
												Распределительный склад
											</div>
											<div class="complex__place">
												г. Бугульма
											</div>
											<ul class="complex__spectification">
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Кабелеотмоточный станок
													</div>
													<div class="complex__spectification-value count-number">
														1
													</div>
												</li>
												<li class="complex__spectification-item">
													<div class="complex__spectification-title">
														Полезная площадь склада
													</div>
													<div class="complex__spectification-value ">
														<span class="count-number">6850</span> м²
													</div>
												</li>
											</ul>
											<div class="complex__title title-md">
												Погрузочная техника:
											</div>
											<ul class="complex__list">
												<li class="complex__list-item">Кран балки - 2 шт.</li>
												<li class="complex__list-item">Автопогрузчики - 4 шт.</li>
												<li class="complex__list-item">Штабелер - 1 шт.</li>
												<li class="complex__list-item">Трактор - 1 шт.</li>
												<li class="complex__list-item">Гидровлические тележки</li>
											</ul>
											<div class="complex__delivery icon-transport">
												Доставка в границах обслуживания 24/7
											</div>
										</div>
										<div class="complex__section">
											<div class="complex__gallery">
												<a href="img/gallery/01.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/01.webp"type="image/webp"><img src="img/gallery/01.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/02.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/02.webp"type="image/webp"><img src="img/gallery/02.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/04.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/04.webp"type="image/webp"><img src="img/gallery/04.png" class="cover-image" alt="gallery picture"></picture>
												</a>
												<a href="img/gallery/03.png" data-fslightbox="gallert-1" class="complex__gallery-item">
													<picture><source srcset="img/gallery/03.webp"type="image/webp"><img src="img/gallery/03.png" class="cover-image" alt="gallery picture"></picture>
													<span class="complex__gallery-quantity">
														Смотреть еще 10
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="serts">
					<div class="serts__container">
						<h2 class="serts__title title-xl">
							Сертификаты
						</h2>
						<div class="serts__content">
							<button type="button" class="swiper-button-prev serts__prev"></button>
							<button type="button" class="swiper-button-next serts__next"></button>
							<div class="serts__slider swiper">
								<div class="swiper-wrapper">
									<div class="serts__slide swiper-slide">
										<a href="img/sert/01.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/01.webp"type="image/webp"><img src="img/sert/01.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Сертификат дистрибьютора ENTSO
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/02.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/02.webp"type="image/webp"><img src="img/sert/02.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Сертификат дилера NILED
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/03.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/03.webp"type="image/webp"><img src="img/sert/03.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Дилерское свидетельство TDM&nbsp;ELECTRIC
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/04.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/04.webp"type="image/webp"><img src="img/sert/04.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Сертификат дистрибьютора АО “ПЗЭИ”
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/01.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/01.webp"type="image/webp"><img src="img/sert/01.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Сертификат дистрибьютора ENTSO
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/02.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/02.webp"type="image/webp"><img src="img/sert/02.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Сертификат дилера NILED
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/03.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/03.webp"type="image/webp"><img src="img/sert/03.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Дилерское свидетельство TDM&nbsp;ELECTRIC
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
									<div class="serts__slide swiper-slide">
										<a href="img/sert/04.png" data-fslightbox="serts" class="serts__slide-image">
											<picture><source srcset="img/sert/04.webp"type="image/webp"><img src="img/sert/04.png" alt="sert"></picture>
										</a>
										<div class="serts__slide-name">
											Сертификат дистрибьютора АО “ПЗЭИ”
										</div>
										<a href="" class="serts__slide-download">
											<img src="img/share.svg" alt="icon share">
											Скачать
										</a>
									</div>
								</div>
							</div>
							<div class="serts__more">
								<a href="" class="more-link">Загрузить еще</a>
							</div>
						</div>
					</div>
				</section>
				<section class="delivery">
					<div class="delivery__container">
						<h2 class="delivery__title title-xl">
							Доставка и&nbsp;оплата
						</h2>
						<div class="delivery__items">
							<div class="delivery__item">
								<div class="delivery__item-header">
									<div class="delivery__item-icon">
										<img src="img/transport.svg" alt="transport">
									</div>
									<div class="delivery__item-title">
										Способы доставки
									</div>
								</div>
								<div class="delivery__item-subtitle">
									Вы можете выбрать любой удобный для вас способ доставки товара:
								</div>
								<ul class="delivery__item-list list">
									<li>
										<strong>Самовывоз</strong> — Вы можете самостоятельно забрать приобретенный товар со складов Компании
									</li>
									<li>
										<strong>Доставка экспедитором</strong> — Мы предлагаем услуги доставки Вашего товара собственными силами в пределах городов, где расположены склады компании.
									</li>
									<li>
										<strong>Доставка до офиса транспортной компании</strong> — Наша компания в кратчайшие сроки организует доставку Вашего товара до терминала любой транспортной компании по Вашему запросу
									</li>
									<li>
										<strong>Доставка транспортной компанией</strong> — Мы организуем доставку Ваших товаров любой сложности "от двери до двери
									</li>
								</ul>
							</div>
							<div class="delivery__item">
								<div class="delivery__item-header">
									<div class="delivery__item-icon">
										<img src="img/CreditCard.svg" alt="CreditCard">
									</div>
									<div class="delivery__item-title">
										Оплата
									</div>
								</div>
								<div class="delivery__item-subtitle">
									У нас на сайте предусмотрены различные удобные способы оплаты, чтобы вы могли выбрать наиболее подходящий для себя: Предусмотрены различные удобные способы оплаты, чтобы вы могли выбрать наиболее подходящий для себя:
								</div>
								<ul class="delivery__item-list list">
									<li>Банковский перевод</li>
									<li>Оплата при получении</li>
									<li>Электронный платеж</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <div class="footer-body__item">
                    <span>
                        Коммерческий отдел:
                    </span>
                    <a href="tel:884323338888" class="footer-body__phone">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="footer-body__item">
                    <span>
                        Приемная:
                    </span>
                    <a href="tel:88432333923" class="footer-body__phone">
                        8 (843) 2-333-923
                    </a>
                </div>
                <a href="https://www.youtube.com/@PSK_StroyInvest" target="_blank" class="footer-body__channel">
                    <img src="img/youtube.svg" alt="icon youtube">
                    Мы на YouTube
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Достижения
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/media.html" class="footer-body__list-link">
                        Медиатека
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Материалы для скачивания
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/projects.html" class="footer-body__list-link">
                        Проекты
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Арматура для СИП
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Каталог
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификация
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные поставки
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Изделия
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Доставка и оплата
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20231225203242"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20231225203242"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20231225203242"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20231225203242"></script>
<script src="js/app.min.js?_v=20231225203242"></script>
	</body>

</html>