<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК | Контакты </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<!-- <link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff"> -->
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css?_v=20221206230147">
	<link rel="stylesheet" href="css/reset.min.css?_v=20221206230147">
	<link rel="stylesheet" href="css/style.min.css?_v=20221206230147">


</head>

<body>
	<div class="wrapper">
		<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-white.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 767.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item"><a href="" class="menu__link ">О КОМПАНИИ</a></li>
                <li class="menu__item"><a href="/products.html" class="menu__link ">ПРОДУКЦИЯ И УСЛУГИ</a></li>
                <li class="menu__item"><a href="/projects.html" class="menu__link ">ПРОЕКТЫ</a></li>
                <li class="menu__item"><a href="/news.html" class="menu__link ">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link active">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">
			<section id="lottie" class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-md">
						<ul class="main__navigation navigation">
							<li class="navigation__item">
								<a href="/" class="navigation__link">Главная</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link active">Контакты</a>
							</li>
						</ul>
						<h1 class="main__title title-xl">
							Контакты
						</h1>
					</div>
					<canvas id="gradient-canvas" data-transition-in>
				</div>
			</section>
			<div class="page__contacts contacts">
				<div class="contacts__container">
					<div class="contacts__cards">
						<div class="contacts__card">
							<div class="contacts__card-caption">
								Телефон:
							</div>
							<div class="contacts__card-content">
								<a href="tel:88432333923" class="contacts__card-item">8 (843) 233-39-23</a>
								<a href="tel:88432333888" class="contacts__card-item">8 (843) 2-333-888</a>
							</div>
						</div>
						<div class="contacts__card">
							<div class="contacts__card-caption">
								Почта:
							</div>
							<div class="contacts__card-content">
								<a href="mailto:info@psk-si.ru" class="contacts__card-item">info@psk-si.ru</a>
								<a href="mailto:sales@psk-si.ru" class="contacts__card-item">sales@psk-si.ru <br>
									(Коммерческий&nbsp;отдел)</a>
							</div>
						</div>
						<div class="contacts__card">
							<div class="contacts__card-caption">
								Адрес:
							</div>
							<div class="contacts__card-content">
								<p class="contacts__card-item">
									Татарстан, Лаишевский р-н,
									с.&nbsp;Столбище, ул. Северная д.14
								</p>
							</div>
						</div>
					</div>
					<div class="contacts__map">
						<iframe
							src="https://yandex.ru/map-widget/v1/?um=constructor%3A6fa55a0a7e236e7bda9d050524dc98cbc08a7ccdb15a6b6e47a9715c04dd7fac&amp;source=constructor&amp;scroll=false"></iframe>
					</div>
				</div>
			</div>
			<section class="page__feedback feedback">
				<div class="feedback__container">
					<div class="feedback__content">
						<h2 class="feedback__title title-xl">
							Написать нам
						</h2>
						<form action="#" class="feedback__form form">
							<div class="form__rows">
								<div class="form__row">
									<input type="text" name="name" class="form__input" placeholder="Имя">
									<input type="tel" name="phone" class="form__input" placeholder="Телефон">
									<input type="email" name="email" class="form__input" placeholder="Email">
								</div>
								<div class="form__row">
									<textarea name="message" class="form__textarea" placeholder="Сообщение"></textarea>
								</div>
							</div>
							<div class="form__footer">
								<label class="form__checkbox">
									<input type="checkbox" name="privacy" checked data-required class="form__checkbox-input hidden">
									<span class="form__checkbox-content">
										Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
									</span>
								</label>
								<button type="submit" class="form__btn btn btn-blue btn-mobile-mw btn-lg">
									Отправить
								</button>
							</div>
						</form>
					</div>
					<div class="feedback__image">
						<img src="img/feedback.svg" alt="icon message">
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <a href="tel:88432333923" class="footer-body__phone">
                    8 (843) 233-39-23
                </a>
                <a href="tel:88432333888" class="footer-body__phone">
                    8 (843) 2-333-888
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-company">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/sert.html" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Партнеры
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/complex.html" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/reviews.html" class="footer-body__list-link">
                        Отзывы
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-offers">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные предложения
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура собственного производства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплектация щитового оборудования
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки гражданского строительства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки для промышленности
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    Каталог
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Светотехническая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Автоматические выключатели 
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Приборы учёта
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы тока
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы ТМГ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-проводниковая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Подстанции
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-несущие системы
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        ДГУ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Муфты, кабельная арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Щитовое оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <a href="" class="footer-copy__privacy">
                Политика конфиденциальности
            </a>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js?_v=20221206230147"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js?_v=20221206230147"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20221206230147"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20221206230147"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20221206230147"></script>

<script src="js/app.min.js?_v=20221206230147"></script>

</body>

</html>