<!DOCTYPE html>
<html lang="ru">

	<head>
	<title> ПСК | Контакты </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css?_v=20231025231739">
	<link rel="stylesheet" href="css/reset.min.css?_v=20231025231739">
	<link rel="stylesheet" href="css/style.min.css?_v=20231025231739">


</head>

	<body>
		<div class="wrapper">
			<header class="header header-white">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-scaling.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 991.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                    <a href="mailto:sales@psk-si.ru" class="header-top__contact-link">
                        sales@psk-si.ru
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:88432333923" class="header-top__contact-link">
                        8 (843) 2-333-923
                    </a>
                    <a href="mailto:info@psk-si.ru" class="header-top__contact-link">
                        info@psk-si.ru
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link icon-arrow  ">О КОМПАНИИ</a>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/media.html" class="submenu__link">
                                    Медиагалерея
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="" class="menu__link icon-arrow">АРМАТУРА ДЛЯ СИП</a>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая арматура СИП-1 и СИП-2
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая группа СИП-4
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Вспомогательная арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Ответвительно-прокалывающая арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Соединительная арматура
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="/complex.html" class="menu__link icon-arrow">КОМПЛЕКСНЫЕ ПОСТАВКИ</a>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Изделия
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
			<main class="page">
				<section class="main main-offset">
					<div class="main__container">
						<div class="main__body main__body-md">
							<ul class="main__navigation navigation">
								<li class="navigation__item">
									<a href="/" class="navigation__link">Главная</a>
								</li>
								<li class="navigation__item">
									<a class="navigation__link active">Контакты</a>
								</li>
							</ul>
							<h1 class="main__title title-xl">
								Контакты
							</h1>
						</div>
					</div>
				</section>
				<div class="contacts">
					<div class="contacts__container">
						<div class="contacts__cards">
							<div class="contacts__card">
								<div class="contacts__card-caption">
									Телефон:
								</div>
								<div class="contacts__card-content">
									<a href="tel:88432333923" class="contacts__card-item">8 (843) 233-39-23 (приемная)</a>
									<a href="tel:88432333888" class="contacts__card-item">8 (843) 2-333-888 (коммерческий отдел)</a>
								</div>
							</div>
							<div class="contacts__card">
								<div class="contacts__card-caption">
									Почта:
								</div>
								<div class="contacts__card-content">
									<a href="mailto:info@psk-si.ru" class="contacts__card-item">info@psk-si.ru</a>
									<a href="mailto:sales@psk-si.ru" class="contacts__card-item">sales@psk-si.ru <br>
										(Коммерческий&nbsp;отдел)</a>
								</div>
							</div>
							<div class="contacts__card">
								<div class="contacts__card-caption">
									Адрес:
								</div>
								<div class="contacts__card-content">
									<p class="contacts__card-item">
										Татарстан, Лаишевский р-н,
										с.&nbsp;Столбище, ул. Северная д.14
									</p>
								</div>
							</div>
						</div>
						<div class="contacts__map" id="map"></div>
					</div>
				</div>
				<section class="logistics">
					<div class="logistics__container">
						<div class="logistics__sections">
							<div class="logistics__section">
								<h2 class="logistics__title title-xxl" data-animation>
									Логистическая сеть
								</h2>
								<div class="logistics__items">
									<div id="logistic-1" class="logistics__item" data-animation>
										<picture><source srcset="img/logistic-01.webp"type="image/webp"><img src="img/logistic-01.png" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
										<div class="logistics__item-title">
											Логистический центр
										</div>
										<div class="logistics__item-place">
											г. Казань
										</div>
										<ul class="logistics__item-list">
											<li class="logistics__item-block">
												<div class="logistics__item-caption">
													Адрес:
												</div>
												<div class="logistics__item-content">
													Татарстан, Лаишевский р-н,
													с.&nbsp;Столбище, ул. Северная д.14
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Время работы:
												</div>
												<div class="logistics__item-content">
													<p>
														пн-пт 09:00-20:00
													</p>
													<p>
														сб 10:00-16:30
													</p>
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Телефон:
												</div>
												<div class="logistics__item-content">
													<a href="tel:88432333923">
														8 (843) 233-39-23
													</a>
												</div>
											</li>
										</ul>
									</div>
									<div id="logistic-2" class="logistics__item" data-animation>
										<picture><source srcset="img/logistic-01.webp"type="image/webp"><img src="img/logistic-01.png" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
										<div class="logistics__item-title">
											Распределительный склад
										</div>
										<div class="logistics__item-place">
											г. Набережные Челны
										</div>
										<ul class="logistics__item-list">
											<li class="logistics__item-block">
												<div class="logistics__item-caption">
													Адрес:
												</div>
												<div class="logistics__item-content">
													Татарстан, Лаишевский р-н,
													с.&nbsp;Столбище, ул. Северная д.14
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Время работы:
												</div>
												<div class="logistics__item-content">
													<p>
														пн-пт 09:00-20:00
													</p>
													<p>
														сб 10:00-16:30
													</p>
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Телефон:
												</div>
												<div class="logistics__item-content">
													<a href="tel:88432333923">
														8 (843) 233-39-23
													</a>
												</div>
											</li>
										</ul>
									</div>
									<div id="logistic-3" class="logistics__item" data-animation>
										<picture><source srcset="img/logistic-01.webp"type="image/webp"><img src="img/logistic-01.png" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
										<div class="logistics__item-title">
											Распределительный склад
										</div>
										<div class="logistics__item-place">
											г. Буинск
										</div>
										<ul class="logistics__item-list">
											<li class="logistics__item-block">
												<div class="logistics__item-caption">
													Адрес:
												</div>
												<div class="logistics__item-content">
													Татарстан, Лаишевский р-н,
													с.&nbsp;Столбище, ул. Северная д.14
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Время работы:
												</div>
												<div class="logistics__item-content">
													<p>
														пн-пт 09:00-20:00
													</p>
													<p>
														сб 10:00-16:30
													</p>
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Телефон:
												</div>
												<div class="logistics__item-content">
													<a href="tel:88432333923">
														8 (843) 233-39-23
													</a>
												</div>
											</li>
										</ul>
									</div>
									<div id="logistic-4" class="logistics__item" data-animation>
										<picture><source srcset="img/logistic-01.webp"type="image/webp"><img src="img/logistic-01.png" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
										<div class="logistics__item-title">
											Распределительный склад
										</div>
										<div class="logistics__item-place">
											г. Чистополь
										</div>
										<ul class="logistics__item-list">
											<li class="logistics__item-block">
												<div class="logistics__item-caption">
													Адрес:
												</div>
												<div class="logistics__item-content">
													Татарстан, Лаишевский р-н,
													с.&nbsp;Столбище, ул. Северная д.14
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Время работы:
												</div>
												<div class="logistics__item-content">
													<p>
														пн-пт 09:00-20:00
													</p>
													<p>
														сб 10:00-16:30
													</p>
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Телефон:
												</div>
												<div class="logistics__item-content">
													<a href="tel:88432333923">
														8 (843) 233-39-23
													</a>
												</div>
											</li>
										</ul>
									</div>
									<div id="logistic-5" class="logistics__item" data-animation>
										<picture><source srcset="img/logistic-01.webp"type="image/webp"><img src="img/logistic-01.png" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
										<div class="logistics__item-title">
											Распределительный склад
										</div>
										<div class="logistics__item-place">
											г. Бугульма
										</div>
										<ul class="logistics__item-list">
											<li class="logistics__item-block">
												<div class="logistics__item-caption">
													Адрес:
												</div>
												<div class="logistics__item-content">
													Татарстан, Лаишевский р-н,
													с.&nbsp;Столбище, ул. Северная д.14
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Время работы:
												</div>
												<div class="logistics__item-content">
													<p>
														пн-пт 09:00-20:00
													</p>
													<p>
														сб 10:00-16:30
													</p>
												</div>
											</li>
											<li class="logistics__item-block hidden">
												<div class="logistics__item-caption">
													Телефон:
												</div>
												<div class="logistics__item-content">
													<a href="tel:88432333923">
														8 (843) 233-39-23
													</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="logistics__section">
								<h2 class="logistics__title title-xxl" data-animation>
									Производство
								</h2>
								<div class="logistics__items">
									<div class="logistics__item" data-animation>
										<picture><source srcset="img/logistic-01.webp"type="image/webp"><img src="img/logistic-01.png" hidden class="logistics__item-image hidden" alt="hidden img"></picture>
										<div class="logistics__item-title">
											Производственный центр
										</div>
										<div class="logistics__item-place">
											г. Набережные Челны
										</div>
										<ul class="logistics__item-list">
											<li class="logistics__item-block">
												<div class="logistics__item-caption">
													Адрес:
												</div>
												<div class="logistics__item-content">
													Татарстан, Набережные Челны,
													индустриальный пр-д 43
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="logistics__map" id="logistics-map" data-animation></div>
					</div>
				</section>
				<section class="page__feedback feedback" data-animation>
					<div class="feedback__container">
						<div class="feedback__content">
							<form action="#" class="feedback__form form">
								<h2 class="feedback__title title-xl">
									Написать нам
								</h2>
								<div class="form__rows">
									<div class="form__row">
										<input type="text" name="name" data-required class="form__input" placeholder="Имя">
										<input type="tel" name="phone" data-required class="form__input" placeholder="Телефон">
										<input type="email" name="email" data-required class="form__input" placeholder="Email">
									</div>
									<div class="form__row">
										<textarea name="message" class="form__textarea" placeholder="Сообщение"></textarea>
									</div>
								</div>
								<div class="form__footer">
									<label class="form__checkbox">
										<input type="checkbox" name="privacy" checked data-required class="form__checkbox-input hidden">
										<span class="form__checkbox-content">
											Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
										</span>
									</label>
									<button type="submit" class="form__btn btn btn-blue btn-mobile-mw btn-lg">
										Отправить
									</button>
								</div>
							</form>
						</div>
						<div class="feedback__image">
							<img src="img/feedback.svg" alt="icon message">
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <div class="footer-body__item">
                    <span>
                        Коммерческий отдел:
                    </span>
                    <a href="tel:884323338888" class="footer-body__phone">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="footer-body__item">
                    <span>
                        Приемная:
                    </span>
                    <a href="tel:88432333923" class="footer-body__phone">
                        8 (843) 2-333-923
                    </a>
                </div>
                <a href="https://www.youtube.com/@PSK_StroyInvest" target="_blank" class="footer-body__channel">
                    <img src="img/youtube.svg" alt="icon youtube">
                    Мы на YouTube
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Достижения
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/media.html" class="footer-body__list-link">
                        Медиатека
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Материалы для скачивания
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/projects.html" class="footer-body__list-link">
                        Проекты
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Арматура для СИП
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Каталог
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификация
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные поставки
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Изделия
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Доставка и оплата
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js?_v=20231025231739"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20231025231739"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20231025231739"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20231025231739"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20231025231739"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20231025231739"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20231025231739"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20231025231739"></script>
<script src="js/app.min.js?_v=20231025231739"></script>
	</body>

</html>