<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК | О компании | Заказчики </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css?_v=20221208231134">
	<link rel="stylesheet" href="css/reset.min.css?_v=20221208231134">
	<link rel="stylesheet" href="css/style.min.css?_v=20221208231134">


</head>

<body>
	<div class="wrapper">
		<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-white.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 767.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item"><a href="/about.html" class="menu__link ">О КОМПАНИИ</a></li>
                <li class="menu__item"><a href="/products.html" class="menu__link ">ПРОДУКЦИЯ И УСЛУГИ</a></li>
                <li class="menu__item"><a href="/projects.html" class="menu__link ">ПРОЕКТЫ</a></li>
                <li class="menu__item"><a href="/news.html" class="menu__link ">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link ">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">
			<section id="lottie" class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-md">
						<ul class="main__navigation navigation">
							<li class="navigation__item">
								<a href="/" class="navigation__link">Главная</a>
							</li>
							<li class="navigation__item">
								<a href="" class="navigation__link">О компании</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link active">Заказчики</a>
							</li>
						</ul>
						<h1 class="main__title title-xl">
							Заказчики
						</h1>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in></canvas>
			</section>
			<div class="page__companies companies companies-offset">
				<div class="companies__container">
					<div class="companies__grid">
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ПАО "РОСНЕФТЬ"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/rosneft.webp"type="image/webp"><img src="img/companies/customers/rosneft.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								ПАО «Роснефть» - лидер российской нефтеперерабатывающей отрасли. В состав
								нефтеперарабатывающего и нефтехимического блока Компании входят 18 НПЗ, расположенных в
								ключевых регионах России, а также в Германии, Белоруссии и Индии. Сбытовая сеть Компании
								охватывает 59 регионов России. Сегодня «Роснефть» --- лидер нефтяной отрасли и
								крупнейшая публичная нефтегазовая корпорация мира. Компания включена в перечень
								стратегических предприятий России. На долю Компании приходится 35% переработки нефти в
								России.
							</div>
							<a href="https://www.rosneft.ru/" target="_blank" class="company__link icon-link">
								https://www.rosneft.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									АО "СЕТЕВАЯ КОМПАНИЯ"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/net-company.webp"type="image/webp"><img src="img/companies/customers/net-company.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Сетевая Компания РТ по величине передаваемой мощности входит в десятку самых крупных
								электросетевых компаний России. Компания занимает лидирующие позиции по сравнению с
								прочими территориальными компаниями, входящими в состав МСРК, по показателю общей
								протяженности эксплуатируемых воздушных и кабельных линий, а также по количеству,
								подстанций, распределительных пунктов.
							</div>
							<a href="https://gridcom-rt.ru/" target="_blank" class="company__link icon-link">
								https://gridcom-rt.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ПАО «НИЖНЕКАМСК-НЕФТЕХИМ»
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/nizhnekam.webp"type="image/webp"><img src="img/companies/customers/nizhnekam.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								ПАО «Нижнекамскнефтехим» - одна из крупнейших нефтехимических компаний Европы, занимает
								лидирующие позиции по производству синтетических каучуков и пластиков Российской
								Федtрации. Входит в Группу компаний ТАИФ. Основные производственные мощности расположены
								в г. Нижнекамске. Выработанная в компании стратегия развития предприятия, занимающего
								ведущее положение в нефтегазохимическом комплексе Республике Татарстан, наличие
								высококвалифицированных кадров и мощный производственной базы является гарантией
								дальнейшей успешной работы ПАО «Нижнекамскнефтехим».
							</div>
							<a href="https://www.nknh.ru/" target="_blank" class="company__link icon-link">
								https://www.nknh.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ООО "БАШКИРЭНЕРГО"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/besk.webp"type="image/webp"><img src="img/companies/customers/besk.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Общество с ограниченной ответственностью "Башкирские распределительные электрические
								сети" (ООО "Башкирэнерго") - дочернее общество АО "БЭСК" – было создано 6 октября 2005
								г. в результате реформирования электроэнергетики Республики Башкортостан в соответствии
								с Федеральным законом "Об электроэнергетике". ООО "Башкирэнерго" оказывает услуги по
								передаче электрической энергии с использованием магистральных линий электропередачи
								напряжением 110 кВ и ниже. Выполняет работы по присоединению к электрическим сетям, по
								сбору и обработке технологической информации, включая данные измерений и учета.
							</div>
							<a href="https://www.bashkirenergo.ru/" target="_blank" class="company__link icon-link">
								https://www.bashkirenergo.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ПАО "ТАТНЕФТЬ"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/tatneft.webp"type="image/webp"><img src="img/companies/customers/tatneft.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								«Татнефть» - одна из крупнейших российских нефтяных компаний,
								вертикально-интегрированный холдинг. В составе производственного комплекса Компании
								динамично развиваются нефтегазодобыча, нефтепереработка, нефтехимия, шинный комплекс и
								сеть АЗС. «Татнефть» также участвует в капитале компаний финансового (банковского и
								страхового) сектора.
							</div>
							<a href="https://www.tatneft.ru/" target="_blank" class="company__link icon-link">
								https://www.tatneft.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ПАО "КАЗАНЬОРГСИНТЕЗ"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/kazanorgsintez.webp"type="image/webp"><img src="img/companies/customers/kazanorgsintez.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Казанское публичное акционерное общество «Органический синтез» - одно из крупнейших
								химических предприятий Российской Федерации, входит в Группу компаний ТАИФ. Предприятие
								является крупнейшим экспортером полиэтилена среди производителей РФ. ПАО
								«Казаньоргсинтез» поставляет продукцию в 31 страну мира.
							</div>
							<a href="https://www.kazanorgsintez.ru/" target="_blank" class="company__link icon-link">
								https://www.kazanorgsintez.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ПАО "НОВАТЭК"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/novatek.webp"type="image/webp"><img src="img/companies/customers/novatek.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								ПАО «НОВАТЭК» является крупнейшим независимым производителем природного газа в России.
								Компания занимается разведкой, добычей, переработкой и реализацией природного газа и
								жидких углеводородов и имеет более чем двадцатилетний опыт работы в российской
								нефтегазовой отрасли.
							</div>
							<a href="https://www.novatek.ru/" target="_blank" class="company__link icon-link">
								https://www.novatek.ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									АО "ТАИФ-НК"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/customers/taif.webp"type="image/webp"><img src="img/companies/customers/taif.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Сегодня акционерное общество «ТАИФ-НК», объединяющее Нефтеперерабатывающий Завод, Завод
								Бензинов и комплекс глубокой переработки тяжелых остатков – занимает ведущие позиции в
								нефтеперерабатывающей отрасли в Республике Татарстан.
							</div>
							<a href="https://www.taifnk.ru/" target="_blank" class="company__link icon-link">
								https://www.taifnk.ru//
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container border-top">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <a href="tel:88432333923" class="footer-body__phone">
                    8 (843) 233-39-23
                </a>
                <a href="tel:88432333888" class="footer-body__phone">
                    8 (843) 2-333-888
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-company">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/sert.html" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/partners.html" class="footer-body__list-link">
                        Партнеры
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/complex.html" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/reviews.html" class="footer-body__list-link">
                        Отзывы
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-offers">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные предложения
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура собственного производства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплектация щитового оборудования
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки гражданского строительства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки для промышленности
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    Каталог
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Светотехническая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Автоматические выключатели 
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Приборы учёта
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы тока
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы ТМГ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-проводниковая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Подстанции
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-несущие системы
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        ДГУ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Муфты, кабельная арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Щитовое оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <a href="" class="footer-copy__privacy">
                Политика конфиденциальности
            </a>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js?_v=20221208231134"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js?_v=20221208231134"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20221208231134"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20221208231134"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20221208231134"></script>

<script src="js/app.min.js?_v=20221208231134"></script>

</body>

</html>