<!DOCTYPE html>
<html lang="ru">

	<head>
	<title> ПСК | Главная страницы </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css?_v=20250221193644">
	<link rel="stylesheet" href="css/reset.min.css?_v=20250221193644">
	<link rel="stylesheet" href="css/style.min.css?_v=20250221193644">


</head>

	<body>
		<div class="wrapper">
			<header class="header header-white">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-scaling.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 991.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                    <a href="mailto:sales@psk-si.ru" class="header-top__contact-link">
                        sales@psk-si.ru
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:88432333923" class="header-top__contact-link">
                        8 (843) 2-333-923
                    </a>
                    <a href="mailto:info@psk-si.ru" class="header-top__contact-link">
                        info@psk-si.ru
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link active">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link">О КОМПАНИИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/media.html" class="submenu__link">
                                    Медиагалерея
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="" class="menu__link">АРМАТУРА ДЛЯ СИП</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu submenu-lg">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая арматура СИП-1 и СИП-2
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая группа СИП-4
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Вспомогательная арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Ответвительно-прокалывающая арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Соединительная арматура
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="/complex.html" class="menu__link">КОМПЛЕКСНЫЕ ПОСТАВКИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Изделия
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
			<main class="page">
				<section class="production">
					<div class="production__container">
						<div class="production__body">
							<div class="production__slider swiper">
								<div class="swiper-wrapper">
									<div class="production__slide swiper-slide">
										<picture><source srcset="img/scaling/01.webp"type="image/webp"><img src="img/scaling/01.jpg" class="cover-image" alt="Производим арматуру для СИП"></picture>
										<div class="production__slide-info">
											<h1 class="production__slide-title title-lg">
												Производим арматуру для&nbsp;СИП
											</h1>
											<a href="" class="production__slide-btn btn btn-orange">Подробнее</a>
										</div>
									</div>
									<div class="production__slide swiper-slide">
										<picture><source srcset="img/scaling/02.webp"type="image/webp"><img src="img/scaling/02.jpg" class="cover-image" alt="Обновили парк оборудования"></picture>
										<div class="production__slide-info">
											<h1 class="production__slide-title title-lg">
												Обновили парк оборудования
											</h1>
											<a href="" class="production__slide-btn btn btn-orange">Подробнее</a>
										</div>
									</div>
									<div class="production__slide swiper-slide">
										<picture><source srcset="img/scaling/03.webp"type="image/webp"><img src="img/scaling/03.jpg" class="cover-image" alt="Осуществляем комплексные поставки оборудования и материалов"></picture>
										<div class="production__slide-info">
											<h1 class="production__slide-title title-lg">
												Осуществляем комплексные поставки <br>
												оборудования и материалов
											</h1>
											<a href="" class="production__slide-btn btn btn-orange">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="production__controls">
									<button type="button" class="production__prev swiper-button-prev"></button>
									<button type="button" class="production__next swiper-button-next"></button>
								</div>
							</div>
							<div class="production__products">
								<a href="" class="production__product">
									<span class="production__product-image">
										<picture><source srcset="img/scaling/product-1.webp"type="image/webp"><img src="img/scaling/product-1.png" alt="product"></picture>
									</span>
									<span class="production__product-name">
										Собственное <br> производство арматуры для&nbsp;СИП
									</span>
								</a>
								<a href="" class="production__product">
									<span class="production__product-image production__product-image-offset">
										<picture><source srcset="img/scaling/product-2.webp"type="image/webp"><img src="img/scaling/product-2.png" alt="product"></picture>
									</span>
									<span class="production__product-name">
										Комплексные <br> поставки
									</span>
								</a>
							</div>
						</div>
					</div>
				</section>
				<section class="video">
    <div class="video__container">
        <div class="video__content">
            <button type="button" data-modal="modal" data-video-vk data-video-code-rus="456239017" data-video-code-eng="456239018" data-video-owner="-227578172" class="video__btn icon-play">
            </button>
            <div class="video__main">
                <h2 class="video__title title-md">
                    Видео о нас
                </h2>
                <div class="video__desc">
                    Посмотрите, как устроены наши логистические комплексы и&nbsp;производства
                </div>
            </div>
            <div class="video__image">
                <div class="video__image-wrapper">
                    <picture><source srcset="img/scaling/video.webp"type="image/webp"><img src="img/scaling/video.png" class="cover-image" alt="video"></picture>
                </div>
            </div>
        </div>
    </div>
</section>
				<section class="projects">
					<div class="projects__container">
						<div class="projects__header" data-animation>
							<h2 class="projects__title title-xl">
								Наши проекты
							</h2>
							<a href="" class="projects__more more-link">Смотреть все</a>
						</div>
						<div class="projects__items">
							<a href="" class="project">
								<span class="project__image">
									<picture><source srcset="img/projects/01.webp"type="image/webp"><img src="img/projects/01.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Укомплектован объект ВЛ 110 кВ «Снежная-КС-7»
								</span>
							</a>
							<a href="" class="project">
								<span class="project__image">
									<picture><source srcset="img/projects/02.webp"type="image/webp"><img src="img/projects/02.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Реконструкция подстанции Портовая
								</span>
							</a>
							<a href="" class="project">
								<span class="project__image">
									<picture><source srcset="img/projects/03.webp"type="image/webp"><img src="img/projects/03.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Кабельная линия 10кВ Крыловка РТП-109
								</span>
							</a>
						</div>
					</div>
				</section>
				<section class="news">
					<div class="news__container">
						<div class="news__header" data-animation>
							<h2 class="news__title title-xl">
								Новости
							</h2>
							<a href="/news.html" class="news__more more-link">
								Смотреть все
							</a>
						</div>
						<div class="news__items">
							<div class="news__item" data-animation>
								<div class="news__item-body">
									<time datetime="2022-09-30" class="news__item-time">
										8 июня
									</time>
									<h3 class="news__item-title title-md">
										<a href="/article.html" class="news__item-link">
											ПСК СтройИнвест на «Ак Барс Казанский марафон»
										</a>
									</h3>
									<p class="news__item-text">
										27 - 28 мая 2023г. в Казани уже в девятый раз прошел «Ак Барс Казанский марафон» Команда ООО «ПСК СтройИнвест» впервые приняла в нём участие, пробежав дистанцию 3 км.
									</p>
								</div>
								<a href="/article.html" class="news__item-image">
									<picture><source srcset="img/scaling/news/01.webp"type="image/webp"><img src="img/scaling/news/01.png" class="cover-image" alt="news picture"></picture>
								</a>
							</div>
							<div class="news__item" data-animation>
								<div class="news__item-body">
									<time datetime="2022-09-30" class="news__item-time">
										8 июня
									</time>
									<h3 class="news__item-title title-md">
										<a href="/article.html" class="news__item-link">
											Участие в Турнире по мини-футболу
										</a>
									</h3>
									<p class="news__item-text">
										15 апреля состоялся первый этап Турнира по мини-футболу на Кубок М.Ф. Аскарова XXIV Спартакиады Электропрофсоюза РТ ВЭП.
									</p>
								</div>
								<a href="/article.html" class="news__item-image">
									<picture><source srcset="img/scaling/news/02.webp"type="image/webp"><img src="img/scaling/news/02.png" class="cover-image" alt="news picture"></picture>
								</a>
							</div>
							<div class="news__item" data-animation>
								<div class="news__item-body">
									<time datetime="2022-09-30" class="news__item-time">
										8 июня
									</time>
									<h3 class="news__item-title title-md">
										<a href="/article.html" class="news__item-link">
											Выставка «Энергетика и электротехника 2023»
										</a>
									</h3>
									<p class="news__item-text">
										С 18 по 20 апреля в Санкт-Петербурге прошёл Российский международный энергетический форум (РМЭФ-2023).
									</p>
								</div>
								<a href="/article.html" class="news__item-image">
									<picture><source srcset="img/scaling/news/03.webp"type="image/webp"><img src="img/scaling/news/03.png" class="cover-image" alt="news picture"></picture>
								</a>
							</div>
							<div class="news__item" data-animation>
								<div class="news__item-body">
									<time datetime="2022-09-30" class="news__item-time">
										8 июня
									</time>
									<h3 class="news__item-title title-md">
										<a href="/article.html" class="news__item-link">
											Выставка «Энергетика и электротехника 2023»
										</a>
									</h3>
									<p class="news__item-text">
										С 18 по 20 апреля в Санкт-Петербурге прошёл Российский международный энергетический форум (РМЭФ-2023).
									</p>
								</div>
								<a href="/article.html" class="news__item-image">
									<picture><source srcset="img/scaling/news/03.webp"type="image/webp"><img src="img/scaling/news/03.png" class="cover-image" alt="news picture"></picture>
								</a>
							</div>
						</div>
					</div>
				</section>
				<div class="companies">
					<div class="companies__container">
						<div class="companies__columns">
							<div class="companies__column">
								<div class="companies__column-header">
									<h3 class="companies__title title-md">
										Заказчики
									</h3>
									<a href="/customers.html" class="companies__more more-link">Смотреть все</a>
								</div>
								<div class="companies__column-body">
									<div class="companies__item">
										<picture><source srcset="img/scaling/companies/01.webp"type="image/webp"><img src="img/scaling/companies/01.png" alt="customers picture"></picture>
									</div>
									<div class="companies__item">
										<picture><source srcset="img/scaling/companies/02.webp"type="image/webp"><img src="img/scaling/companies/02.png" alt="customers picture"></picture>
									</div>
									<div class="companies__item">
										<picture><source srcset="img/scaling/companies/03.webp"type="image/webp"><img src="img/scaling/companies/03.png" alt="customers picture"></picture>
									</div>
								</div>
							</div>
							<div class="companies__column">
								<div class="companies__column-header">
									<h3 class="companies__title title-md">
										Партнеры
									</h3>
									<a href="/partners.html" class="companies__more more-link">Смотреть все</a>
								</div>
								<div class="companies__column-body">
									<div class="companies__item">
										<picture><source srcset="img/scaling/companies/04.webp"type="image/webp"><img src="img/scaling/companies/04.png" alt="partners picture"></picture>
									</div>
									<div class="companies__item">
										<picture><source srcset="img/scaling/companies/05.webp"type="image/webp"><img src="img/scaling/companies/05.png" alt="partners picture"></picture>
									</div>
									<div class="companies__item">
										<img src="img/scaling/companies/06.svg" alt="partners picture">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <div class="footer-body__item">
                    <span>
                        Коммерческий отдел:
                    </span>
                    <a href="tel:884323338888" class="footer-body__phone">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="footer-body__item">
                    <span>
                        Приемная:
                    </span>
                    <a href="tel:88432333923" class="footer-body__phone">
                        8 (843) 2-333-923
                    </a>
                </div>
                <a href="https://www.youtube.com/@PSK_StroyInvest" target="_blank" class="footer-body__channel">
                    <img src="img/youtube.svg" alt="icon youtube">
                    Мы на YouTube
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Достижения
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/media.html" class="footer-body__list-link">
                        Медиатека
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Материалы для скачивания
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/projects.html" class="footer-body__list-link">
                        Проекты
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Арматура для СИП
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Каталог
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификация
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные поставки
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Изделия
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Доставка и оплата
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
                <a href="" class="footer-copy__privacy-link">
                    Антикоррупционная политика
                </a>
                <a href="" class="footer-copy__privacy-link">
                    Кодекс этики и служебного поведения
                </a>
                <a href="" class="footer-copy__privacy-link">
                    Политика в области прав человека
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
		</div>
		<div id="modal" class="popup">
    <div class="popup__content">
        <button type="button" class="popup__close icon-close"></button>
        <div class="popup__body">
            <div id="js-vk-video"></div>
            <div class="popup__switcher video__switcher">
                <ul class="video__switcher-list">
                    <li class="video__switcher-item">
                        <a href="#" data-lang="ru" class="video__switcher-btn">
                            Руc
                        </a>
                    </li>
                    <li class="video__switcher-item">
                        <a href="#" data-lang="en" class="video__switcher-btn">
                            Eng
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js?_v=20250221193644"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20250221193644"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20250221193644"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20250221193644"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20250221193644"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20250221193644"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20250221193644"></script>
<!-- <script src="https://www.youtube.com/iframe_api?v2.18&_v=20250221193644"></script> -->
<script src="https://vk.com/js/api/openapi.js?169&_v=20250221193644"></script>

<script src="js/app.min.js?_v=20250221193644"></script>
	</body>

</html>