<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css?_v=20221211133055">
	<link rel="stylesheet" href="css/reset.min.css?_v=20221211133055">
	<link rel="stylesheet" href="css/style.min.css?_v=20221211133055">


</head>

<body>
	<div class="wrapper">
		<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-white.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 767.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link active">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link icon-arrow ">О КОМПАНИИ</a>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/products.html" class="menu__link ">ПРОДУКЦИЯ</a></li>
                <li class="menu__item"><a href="/projects.html" class="menu__link ">ПРОЕКТЫ</a>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link ">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link ">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">
			<section id="lottie" class="page__main main">
				<div class="main__container">
					<div class="main__body">
						<h1 class="main__title title-xl">
							Осуществляем комплексные поставки оборудования и&nbsp;материалов
						</h1>
						<a href="" class="main__btn btn btn-orange">
							Подробнее
						</a>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in />
			</section>
			<div class="anim-content" id="anim-content">
				<div class="page__products products anim-section">
					<div class="products__container">
						<div class="products__items">
							<figure class="products__item card card-1">
								<picture><source srcset="img/products/01.webp"type="image/webp"><img src="img/products/01.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									СИП-арматура <br>
									собственного производства
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
							<figure class="products__item card card-2">
								<picture><source srcset="img/products/02.webp"type="image/webp"><img src="img/products/02.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									Комплектация <br>
									щитового оборудования
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
							<figure class="products__item card card-3">
								<picture><source srcset="img/products/03.webp"type="image/webp"><img src="img/products/03.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									Комплексные поставки <br>
									гражданского строительства
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
							<figure class="products__item card card-4">
								<picture><source srcset="img/products/04.webp"type="image/webp"><img src="img/products/04.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									Комплексные поставки <br>
									для промышленности
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
						</div>
					</div>
				</div>
				<div class="page__benefits benefits">
					<div class="benefits__slide benefits__slide-1 anim-section">
						<div class="benefits__slide-image">
							<picture><source srcset="img/benefits/01.webp"type="image/webp"><img src="img/benefits/01.jpg" class="cover-image benefits__slide-bg" alt="benefits image"></picture>
						</div>
						<div class="benefits__slide-num">
							01
						</div>
						<div class="benefits__slide-text">
							Постоянное развитие умений <br>
							и навыков сотрудников
						</div>
					</div>
					<div class="benefits__slide benefits__slide-2 anim-section">
						<div class="benefits__slide-image">
							<picture><source srcset="img/benefits/02.webp"type="image/webp"><img src="img/benefits/02.jpg" class="cover-image benefits__slide-bg" alt="benefits image"></picture>
						</div>
						<div class="benefits__slide-num">
							02
						</div>
						<div class="benefits__slide-text">
							Гарантируем внимание <br>
							к партнерам и заботу об их бизнесе
						</div>
					</div>
					<div class="benefits__slide benefits__slide-3 anim-section">
						<div class="benefits__slide-image">
							<picture><source srcset="img/benefits/03.webp"type="image/webp"><img src="img/benefits/03.jpg" class="cover-image benefits__slide-bg" alt="benefits image"></picture>
						</div>
						<div class="benefits__slide-num">
							03
						</div>
						<div class="benefits__slide-text">
							Отвечаем не только за качество <br>
							поставляемой и производимой продукции, <br>
							но и за уровень обслуживания
						</div>
					</div>
				</div>
				<section class="page__video video">
					<div class="video__container">
						<div class="video__body">
							<div class="video__main">
								<h2 class="video__title title-xl">
									Видео о нас
								</h2>
								<div class="video__desc">
									Посмотрите, как устроены наши логистические комплексы и&nbsp;производства
								</div>
							</div>
							<button type="button" data-modal="modal" data-video data-video-code-rus="C0E1oD1BhTY"
								data-video-code-eng="m_Dr1wyVwGI" class="video__link icon-play">
								<picture><source srcset="img/benefits/01.webp"type="image/webp"><img src="img/benefits/01.jpg" class="cover-image" alt="video image"></picture>
							</button>
						</div>
					</div>
				</section>
			</div>
			<section class="page__projects projects">
				<div class="projects__container">
					<div class="projects__header" data-animation>
						<h2 class="projects__title title-xxl">
							Наши проекты
						</h2>
						<div class="projects__controls">
							<button type="button" class="projects__controls-prev swiper-button-prev"></button>
							<button type="button" class="projects__controls-next swiper-button-next"></button>
						</div>
					</div>
					<div class="projects__slider swiper-container projects-slider" data-animation>

						<div class="swiper-wrapper projects-slider__wrapper">

							<a href="" class="swiper-slide projects-slider__item project">
								<span class="project__image">
									<picture><source srcset="img/projects/01.webp"type="image/webp"><img src="img/projects/01.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Укомплектован объект ВЛ 110 кВ «Снежная-КС-7»
								</span>
							</a>
							<a href="" class="swiper-slide projects-slider__item project">
								<span class="project__image">
									<picture><source srcset="img/projects/02.webp"type="image/webp"><img src="img/projects/02.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Реконструкция подстанции Портовая
								</span>
							</a>
							<a href="" class="swiper-slide projects-slider__item project">
								<span class="project__image">
									<picture><source srcset="img/projects/03.webp"type="image/webp"><img src="img/projects/03.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Кабельная линия 10кВ Крыловка РТП-109
								</span>
							</a>
							<a href="" class="swiper-slide projects-slider__item project">
								<span class="project__image">
									<picture><source srcset="img/projects/01.webp"type="image/webp"><img src="img/projects/01.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Укомплектован объект ВЛ 110 кВ «Снежная-КС-7»
								</span>
							</a>
							<a href="" class="swiper-slide projects-slider__item project">
								<span class="project__image">
									<picture><source srcset="img/projects/02.webp"type="image/webp"><img src="img/projects/02.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Реконструкция подстанции Портовая
								</span>
							</a>
							<a href="" class="swiper-slide projects-slider__item project">
								<span class="project__image">
									<picture><source srcset="img/projects/03.webp"type="image/webp"><img src="img/projects/03.jpg" class="cover-image" alt="project image"></picture>
								</span>
								<span class="project__caption">
									Кабельная линия 10кВ Крыловка РТП-109
								</span>
							</a>
						</div>

					</div>
				</div>

			</section>
			<section class="page__news news">
				<div class="news__container">
					<div class="news__header" data-animation>
						<h2 class="news__title title-xxl">
							Новости
						</h2>
						<a href="/news.html" class="news__more more-link">
							Смотреть все
						</a>
					</div>
					<div class="news__items">
						<div class="news__item" data-animation>
							<div class="news__item-body">
								<h3 class="news__item-title title-md">
									<a href="/article.html" class="news__item-link">
										Постановка материалов для реконструкции
									</a>
								</h3>
								<time datetime="2022-09-30" class="news__item-time">
									30 сентября
								</time>
								<p class="news__item-text">
									2022 год стал важным этапом в истории развития компании ПСК – из
									компании-поставщика, имеющего положительную репутацию в энергетической отрасли, она
									превратилась в производителя, который готов ставит.
								</p>
								<a href="/article.html" class="news__item-link more-link">
									Подробнее
								</a>
							</div>
							<a href="/article.html" class="news__item-image">
								<picture><source srcset="img/news/01.webp"type="image/webp"><img src="img/news/01.jpg" class="cover-image" alt="news picture"></picture>
							</a>
						</div>
						<div class="news__item" data-animation>
							<div class="news__item-body">
								<h3 class="news__item-title title-md">
									<a href="/article.html" class="news__item-link">
										Награждение по итогам года
									</a>
								</h3>
								<time datetime="2022-01-25" class="news__item-time">
									25 января
								</time>
								<p class="news__item-text">
									По итогам работы 2021 года ООО “ПСК СтройИнвест” наградила 18 сотрудников компании
									Благодарственными письмами, вскоре мы создадим заводы лучше прежних.
								</p>
								<a href="/article.html" class="news__item-link more-link">
									Подробнее
								</a>
							</div>
							<a href="/article.html" class="news__item-image">
								<picture><source srcset="img/news/02.webp"type="image/webp"><img src="img/news/02.jpg" class="cover-image" alt="news picture"></picture>
							</a>
						</div>
						<div class="news__item" data-animation>
							<div class="news__item-body">
								<h3 class="news__item-title title-md">
									<a href="/article.html" class="news__item-link">
										Поставка материалов для реконструкции <br>
										ПС 110 кВ Учалы
									</a>
								</h3>
								<time datetime="2021-11-19" class="news__item-time">
									19 ноября 2021 г.
								</time>
								<p class="news__item-text">
									ПСК СтройИнвест поставляет материалы для реконструкции ПС 110 кВ Учалы, для
									электроснабжения объекта АО Учалинский ГОК в Республике Башкортостан.
								</p>
								<a href="/article.html" class="news__item-link more-link">
									Подробнее
								</a>
							</div>
							<a href="/article.html" class="news__item-image">
								<picture><source srcset="img/news/03.webp"type="image/webp"><img src="img/news/03.jpg" class="cover-image" alt="news picture"></picture>
							</a>
						</div>
					</div>
					<div class="news__btn">
						<a href="/news.html" class="btn btn-blue">
							Смотреть все
						</a>
					</div>
				</div>
			</section>
			<section class="page__team team">
				<div class="team__container">
					<div class="team__header" data-animation>
						<h2 class="team__title title-xxl">
							Главные лица
						</h2>
						<a href="/team.html" class="team__more more-link">
							Смотреть все
						</a>
					</div>
					<div class="team__body" data-animation>
						<div class="team__item">
							<div class="team__item-image">
								<picture><source srcset="img/team/01.webp"type="image/webp"><img src="img/team/01.png" alt="team image"></picture>
							</div>
							<div class="team__item-desc">
								<div class="team__item-name">
									Ярулин Ленар <br>
									Раисович
								</div>
								<div class="team__item-position">
									Директор
								</div>
								<a href="tel:+78432333923" class="team__item-phone icon-phone">
									+7 (843) 233-39-23
								</a>
							</div>
						</div>
						<div class="team__item">
							<div class="team__item-image">
								<picture><source srcset="img/team/02.webp"type="image/webp"><img src="img/team/02.png" alt="team image"></picture>
							</div>
							<div class="team__item-desc">
								<div class="team__item-name">
									Гатауллин Радик <br>
									Ахнафович
								</div>
								<div class="team__item-position">
									Исполнительный директор
								</div>
								<a href="tel:+78432333923" class="team__item-phone icon-phone">
									+7 (843) 233-39-23
								</a>
							</div>
						</div>
						<div class="team__item">
							<div class="team__item-image">
								<picture><source srcset="img/team/03.webp"type="image/webp"><img src="img/team/03.png" alt="team image"></picture>
							</div>
							<div class="team__item-desc">
								<div class="team__item-name">
									Николаев Станислав <br> Константинович
								</div>
								<div class="team__item-position">
									Коммерческий директор
								</div>
								<a href="tel:+78432333923" class="team__item-phone icon-phone">
									+7 (843) 233-39-23
								</a>
							</div>
						</div>
					</div>
					<div class="team__btn">
						<a href="/team.html" class="btn btn-blue">
							Смотреть все
						</a>
					</div>
				</div>
			</section>
			<div class="page__companies companies" data-animation>
				<div class="companies__container">
					<div class="companies__columns">
						<div class="companies__column companies-customers">
							<div class="companies__column-header">
								<h3 class="companies__title title-lg">
									Заказчики
								</h3>
								<a href="/customers.html" class="companies__more more-link">Смотреть все</a>
							</div>
							<div class="companies__column-body">
								<div class="companies__item">
									<picture><source srcset="img/companies/customers/01.webp"type="image/webp"><img src="img/companies/customers/01.png" alt="customers picture"></picture>
								</div>
								<div class="companies__item">
									<picture><source srcset="img/companies/customers/02.webp"type="image/webp"><img src="img/companies/customers/02.png" alt="customers picture"></picture>
								</div>
								<div class="companies__item">
									<picture><source srcset="img/companies/customers/03.webp"type="image/webp"><img src="img/companies/customers/03.png" alt="customers picture"></picture>
								</div>
							</div>
							<div class="companies__column-btn">
								<a href="/customers.html" class="btn btn-blue">
									Смотреть все
								</a>
							</div>
						</div>
						<div class="companies__column companies-partners">
							<div class="companies__column-header">
								<h3 class="companies__title title-lg">
									Партнеры
								</h3>
								<a href="/partners.html" class="companies__more more-link">Смотреть все</a>
							</div>
							<div class="companies__column-body">
								<div class="companies__item">
									<picture><source srcset="img/companies/partners/01.webp"type="image/webp"><img src="img/companies/partners/01.png" alt="partners picture"></picture>
								</div>
								<div class="companies__item">
									<picture><source srcset="img/companies/partners/02.webp"type="image/webp"><img src="img/companies/partners/02.png" alt="partners picture"></picture>
								</div>
								<div class="companies__item">
									<img src="img/companies/partners/03.svg" alt="partners picture">
								</div>
							</div>
							<div class="companies__column-btn">
								<a href="/partners.html" class="btn btn-orange">
									Смотреть все
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container ">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <a href="tel:88432333923" class="footer-body__phone">
                    8 (843) 233-39-23
                </a>
                <a href="tel:88432333888" class="footer-body__phone">
                    8 (843) 2-333-888
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-company">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/sert.html" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/partners.html" class="footer-body__list-link">
                        Партнеры
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/complex.html" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/reviews.html" class="footer-body__list-link">
                        Отзывы
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-offers">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные предложения
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура собственного производства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплектация щитового оборудования
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/services.html" class="footer-body__list-link">
                        Комплексные поставки гражданского строительства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки для промышленности
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    Каталог
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Светотехническая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Автоматические выключатели 
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Приборы учёта
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы тока
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы ТМГ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-проводниковая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Подстанции
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-несущие системы
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        ДГУ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Муфты, кабельная арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Щитовое оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <a href="/privacy.html" class="footer-copy__privacy">
                Политика конфиденциальности
            </a>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<div id="modal" class="popup">
    <div class="popup__content">
        <button type="button" class="popup__close icon-close"></button>
        <div class="popup__body">

            <div id="video-lang-swticher">
                <ul>
                    <li><a href="C0E1oD1BhTY" data-lang="ru" class="curr">Ру</a></li>
                    <li><a href="m_Dr1wyVwGI" data-lang="en">En</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js?_v=20221211133055"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20221211133055"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20221211133055"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20221211133055"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20221211133055"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20221211133055"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20221211133055"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20221211133055"></script>

<script src="js/app.min.js?_v=20221211133055"></script>


</body>

</html>