<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК | Медиагалерея </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css?_v=20230224112651">
	<link rel="stylesheet" href="css/reset.min.css?_v=20230224112651">
	<link rel="stylesheet" href="css/style.min.css?_v=20230224112651">


</head>

<body>
	<div class="wrapper">
		<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-white.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 767.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link icon-arrow ">О КОМПАНИИ</a>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/media.html" class="submenu__link">
                                    Медиагалерея
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/products.html" class="menu__link ">ПРОДУКЦИЯ</a></li>
                <li class="menu__item"><a href="/projects.html" class="menu__link ">ПРОЕКТЫ</a>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link ">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link ">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">
			<section class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-xs">
						<ul class="main__navigation navigation">
							<li class="navigation__item">
								<a href="/" class="navigation__link">Главная</a>
							</li>
							<li class="navigation__item">
								<a href="/about.html" class="navigation__link">О компании</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link active">Медиагалерея</a>
							</li>
						</ul>
						<h1 class="main__title title-xl">
							Медиагалерея
						</h1>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in></canvas>
			</section>
			<div class="page__media media">
				<div class="media__container">
					<section class="media__section">
						<h2 class="media__title title-lg">
							Видео
						</h2>
						<div class="media__body">
							<a href="/media-video.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/video/01.webp"type="image/webp"><img src="img/media/video/01.jpg" class="cover-image" alt="video desc"></picture>
								</span>
								<span class="media__item-caption">
									Cabex-2022
								</span>
								<span class="media__item-quantity">
									21 файл
								</span>
							</a>
							<a href="/media-video.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/video/02.webp"type="image/webp"><img src="img/media/video/02.jpg" class="cover-image" alt="video desc"></picture>
								</span>
								<span class="media__item-caption">
									Награждение по итогам года
								</span>
								<span class="media__item-quantity">
									4 файла
								</span>
							</a>
							<a href="/media-video.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/video/03.webp"type="image/webp"><img src="img/media/video/03.jpg" class="cover-image" alt="video desc"></picture>
								</span>
								<span class="media__item-caption">
									Энергосервис
								</span>
								<span class="media__item-quantity">
									3 файла
								</span>
							</a>
							<a href="/media-video.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/video/04.webp"type="image/webp"><img src="img/media/video/04.jpg" class="cover-image" alt="video desc"></picture>
								</span>
								<span class="media__item-caption">
									Презентация бренда
								</span>
								<span class="media__item-quantity">
									6 файлов
								</span>
							</a>
						</div>
					</section>
					<section class="media__section">
						<h2 class="media__title title-lg">
							Фото
						</h2>
						<div class="media__body">
							<a href="/media-photo.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/photo/01.webp"type="image/webp"><img src="img/media/photo/01.jpg" class="cover-image" alt="photo  desc"></picture>
								</span>
								<span class="media__item-caption">
									Презентация бренда
								</span>
								<span class="media__item-quantity">
									3 файла
								</span>
							</a>
							<a href="/media-photo.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/photo/02.webp"type="image/webp"><img src="img/media/photo/02.jpg" class="cover-image" alt="photo  desc"></picture>
								</span>
								<span class="media__item-caption">
									Энергосервис
								</span>
								<span class="media__item-quantity">
									7 файлов
								</span>
							</a>
							<a href="/media-photo.html" class="media__item">
								<span class="media__item-image">
									<picture><source srcset="img/media/photo/03.webp"type="image/webp"><img src="img/media/photo/03.jpg" class="cover-image" alt="photo  desc"></picture>
								</span>
								<span class="media__item-caption">
									Новые фото 2023
								</span>
								<span class="media__item-quantity">
									35 файлов
								</span>
							</a>
						</div>
					</section>
				</div>
			</div>
		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container border-top">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <a href="tel:88432333923" class="footer-body__phone">
                    8 (843) 233-39-23
                </a>
                <a href="tel:88432333888" class="footer-body__phone">
                    8 (843) 2-333-888
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-company">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/sert.html" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/partners.html" class="footer-body__list-link">
                        Партнеры
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/complex.html" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/reviews.html" class="footer-body__list-link">
                        Отзывы
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-offers">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные предложения
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура собственного производства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплектация щитового оборудования
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/services.html" class="footer-body__list-link">
                        Комплексные поставки гражданского строительства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки для промышленности
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    Каталог
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Светотехническая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Автоматические выключатели
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Приборы учёта
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы тока
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы ТМГ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-проводниковая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Подстанции
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-несущие системы
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        ДГУ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Муфты, кабельная арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Щитовое оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Антикоррупционное законодательство
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js?_v=20230224112651"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20230224112651"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20230224112651"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20230224112651"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20230224112651"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20230224112651"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20230224112651"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20230224112651"></script>
<script src="js/app.min.js?_v=20230224112651"></script>

</body>

</html>