<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК | О компании | Партнеры </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css?_v=20221215144505">
	<link rel="stylesheet" href="css/reset.min.css?_v=20221215144505">
	<link rel="stylesheet" href="css/style.min.css?_v=20221215144505">


</head>

<body>
	<div class="wrapper">
		<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-white.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 767.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link icon-arrow ">О КОМПАНИИ</a>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/products.html" class="menu__link ">ПРОДУКЦИЯ</a></li>
                <li class="menu__item"><a href="/projects.html" class="menu__link ">ПРОЕКТЫ</a>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link ">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link ">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">
			<section class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-md">
						<ul class="main__navigation navigation">
							<li class="navigation__item">
								<a href="/" class="navigation__link">Главная</a>
							</li>
							<li class="navigation__item">
								<a href="" class="navigation__link">О компании</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link active">Партнеры</a>
							</li>
						</ul>
						<h1 class="main__title title-xl">
							Партнеры
						</h1>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in></canvas>
			</section>
			<div class="page__companies companies companies-offset">
				<div class="companies__container">
					<div class="companies__grid">
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									НИЛЕД
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/partners/niled.webp"type="image/webp"><img src="img/companies/partners/niled.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Компания НИЛЕД, по объему выпускаемой линейной арматуры, занимает лидирующее место в РФ.
								Производство оснащено новым высокотехнологичным автоматизированным оборудованием. НИЛЕД
								осуществляет производство и сборку изделий из европейских и отечественных комплектующих
								на базе собственного производственно-складского комплекса. Долгосрочная стратегия
								развития компании НИЛЕД предполагает расширение ассортимента изделий, внедрение новых
								решений, улучшение качества услуг для потребителей.
							</div>
							<a href="http://niled.ru/" target="_blank"
								class="company__link icon-link">http://niled.ru/</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ЭНСТО
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/partners/ensto.webp"type="image/webp"><img src="img/companies/partners/ensto.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Ensto, семейное предприятие и международная компания в области экологичных технологий
								международная технологическая компания разрабатывает и предоставляет интеллектуальные
								электрические решения для повышения безопасности, функциональности, надежности и
								эффективности интеллектуальных сетей, зданий и транспорта. Компания предлагает
								комплексные решения, с помощью которых можно организовать энергообеспечение любого
								объекта отрасли.

							</div>
							<a href="https://www.ensto.com/ru/" target="_blank" class="company__link icon-link">
								https://www.ensto.com/ru/
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									КАМЭНЕРГО-СТРОЙПРОМ
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/partners/kesp.webp"type="image/webp"><img src="img/companies/partners/kesp.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Компания «Камаэнергостройпром» — один из крупнейших производителей заводов по выпуску
								качественного бетона в России. Железобетонными изделиями и конструкциями завода снабжены
								многочисленные проекты важных объектов атомной, тепловой энергетики, гидроэнергетики,
								нефтехимической промышленности, крупных, ключевых индустриальных гигантов страны.
								Продукция компания «Камаэнергостройпром» максимально приспособлена к требованиям
								отечественного и мирового рынка.
							</div>
							<a href="http://www.kesp.ru" target="_blank" class="company__link icon-link">
								http://www.kesp.ru
							</a>
						</div>
						<div class="company">
							<div class="company__header">
								<h2 class="company__title title-md">
									ТЕХХАУС
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/partners/techaus.webp"type="image/webp"><img src="img/companies/partners/techaus.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Центр «ТЕХХАУС» авторизован в качестве поставщика ведущими мировыми производителями,
								такими как Samsung, Dell, HP. Компания «ТЕХХАУС» создает и оптимизирует информационную
								среду своих клиентов. Улучшает IT инфраструктуры, позволяющие развиваться в сфере
								информационных технологий. Предлагает серьезные сервисные решения по снижению издержек в
								производстве.
							</div>
							<a href="https://it-th.ru/" target="_blank" class="company__link icon-link">
								https://it-th.ru/
							</a>
						</div>
						<div class="company" data-animation>
							<div class="company__header">
								<h2 class="company__title title-md">
									ЗАВОД «СВЭЛ — СИЛОВЫЕ ТРАНСФОРМАТОРЫ»
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/partners/svea.webp"type="image/webp"><img src="img/companies/partners/svea.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Завод «СВЭЛ – Силовые трансформаторы» - один из крупнейших российских производителей
								масляных трансформаторов. Разрабатывает и производит масляные трансформаторы различного
								назначения для объектов энергетики, электрифицированного транспорта и подстанций
								промышленных предприятий. Использование предприятием «СВЭЛ – Силовые трансформаторы»
								передовых технологий, гарантирует высочайшее качество продукции, поставляемой заказчику.
							</div>
							<a href="https://svel.ru/" target="_blank" class="company__link icon-link">
								https://svel.ru/
							</a>
						</div>
						<div class="company" data-animation>
							<div class="company__header">
								<h2 class="company__title title-md">
									ООО "ЭНЕРГОЗАЩИТА"
								</h2>
								<div class="company__logo">
									<picture><source srcset="img/companies/partners/energo.webp"type="image/webp"><img src="img/companies/partners/energo.png" alt="company logo"></picture>
								</div>
							</div>
							<div class="company__desc">
								Является основным региональным дилером продукции НПП "ЭКРА". Продукция предприятия - это
								шкафы микропроцессорных устройств защиты и автоматики (МП РЗА) для электростанций и
								подстанций, шкафы противоаварийной автоматики, АСУ ТП подстанций, системы оперативного
								постоянного тока, щиты собственных нужд, нетиповые низковольтные комплектные устройства,
								системы плавного пуска и регулирования скорости высоковольтных электродвигателей,
								преобразователи частоты, цифровые статические тиристорные возбудители, шкафы систем
								связи.
							</div>
						</div>
					</div>
					<div class="companies__more-btn">
						<a href="" class="btn btn-blue btn-lg">
							Загрузить еще
						</a>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container border-top">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <a href="tel:88432333923" class="footer-body__phone">
                    8 (843) 233-39-23
                </a>
                <a href="tel:88432333888" class="footer-body__phone">
                    8 (843) 2-333-888
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-company">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/sert.html" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/partners.html" class="footer-body__list-link">
                        Партнеры
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/complex.html" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/reviews.html" class="footer-body__list-link">
                        Отзывы
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-offers">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные предложения
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура собственного производства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплектация щитового оборудования
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/services.html" class="footer-body__list-link">
                        Комплексные поставки гражданского строительства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки для промышленности
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    Каталог
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Светотехническая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Автоматические выключатели 
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Приборы учёта
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы тока
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы ТМГ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-проводниковая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Подстанции
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-несущие системы
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        ДГУ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Муфты, кабельная арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Щитовое оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <a href="/privacy.html" class="footer-copy__privacy">
                Политика конфиденциальности
            </a>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js?_v=20221215144505"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20221215144505"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20221215144505"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20221215144505"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20221215144505"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20221215144505"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20221215144505"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20221215144505"></script>
<script src="js/app.min.js?_v=20221215144505"></script>

</body>

</html>