<!DOCTYPE html>
<html lang="ru">

	<head>
	<title> ПСК | Политика конфиденциальности </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css?_v=20240119185059">
	<link rel="stylesheet" href="css/reset.min.css?_v=20240119185059">
	<link rel="stylesheet" href="css/style.min.css?_v=20240119185059">


</head>

	<body>
		<div class="wrapper">
			<header class="header header-white">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-scaling.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 991.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                    <a href="mailto:sales@psk-si.ru" class="header-top__contact-link">
                        sales@psk-si.ru
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:88432333923" class="header-top__contact-link">
                        8 (843) 2-333-923
                    </a>
                    <a href="mailto:info@psk-si.ru" class="header-top__contact-link">
                        info@psk-si.ru
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link">О КОМПАНИИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/media.html" class="submenu__link">
                                    Медиагалерея
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="" class="menu__link">АРМАТУРА ДЛЯ СИП</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu submenu-lg">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая арматура СИП-1 и СИП-2
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая группа СИП-4
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Вспомогательная арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Ответвительно-прокалывающая арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Соединительная арматура
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="/complex.html" class="menu__link">КОМПЛЕКСНЫЕ ПОСТАВКИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Изделия
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
			<main class="page">
				<section id="lottie" class="page__main main">
					<div class="main__container">
						<div class="main__body main__body-md">
							<ul class="main__navigation navigation">
								<li class="navigation__item">
									<a href="/" class="navigation__link">Главная</a>
								</li>
								<li class="navigation__item">
									<a class="navigation__link active">Антикоррупционная политика</a>
								</li>

							</ul>
							<h1 class="main__title title-xl">
								Антикоррупционная политика
							</h1>
						</div>
					</div>
				</section>
				<section class="page__about about">
					<div class="about__container">
						<div class="about__body">
							<div class="about__privacy article__content">
								<div>
									<h2>1. Общие положения</h2>

									<p>1.1. Антикоррупционная политика Общества с ограниченной ответственностью &laquo;ПСК СтройИнвест&raquo; (далее &ndash; Общество) представляет собой комплекс закрепленных в настоящем Положении взаимосвязанных принципов, процедур и мероприятий, направленных на профилактику и пресечение коррупционных правонарушений в Обществе.&nbsp;<br />
										1.2. Настоящее Положение основано на нормах Конституции, Федерального закона от 25.12.2008 № 273-ФЗ &laquo;О противодействии коррупции&raquo; и &nbsp;разработана в соответствии с законодательством Российской Федерации о противодействии и предупреждении коррупции, и является базовым документом ООО &laquo;ПСК СтройИнвест&raquo;, представляющим комплекс взаимосвязанных принципов, процедур и конкретных мероприятий, направленных на профилактику и пресечение коррупционных правонарушений в деятельности ООО &laquo;ПСК СтройИнвест&raquo;, а также соблюдение норм антикоррупционного законодательства работниками ООО &laquo;ПСК СтройИнвест&raquo; (далее &ndash; Общество).<br />
										1.3. Целями антикоррупционной политики Общества являются:&nbsp;</p>

									<ul>
										<li>обеспечение соответствия деятельности требованиям антикоррупционного законодательства;&nbsp;</li>
										<li>минимизация рисков вовлечения Общества и его работников в коррупционную деятельность;&nbsp;</li>
										<li>формирование единого подхода к организации работы по предупреждению коррупции в Обществе;&nbsp;</li>
										<li>формирование у работников Общества нетерпимости к коррупционному поведению.&nbsp;</li>
									</ul>

									<p>1.4. Задачами антикоррупционной политики Общества являются:&nbsp;</p>

									<ul>
										<li>определение должностных лиц, ответственных за реализацию антикоррупционной политики;&nbsp;</li>
										<li>информирование работников о нормативном правовом обеспечении работы по предупреждению коррупции и ответственности за совершение коррупционных правонарушений;&nbsp;</li>
										<li>определение основных принципов работы по предупреждению коррупции в Обществе;&nbsp;</li>
										<li>разработка и реализация мер, направленных на профилактику и противодействие коррупции в Обществе;&nbsp;</li>
										<li>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod quo consequatur iste explicabo minus quidem illo nemo tempora ipsum deserunt quis tempore maxime aliquid itaque maiores nisi, corrupti amet.
											<ol>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
												<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor vitae quae? Quod fugit alias aliquid quae, voluptas qui, dolorum commodi et tempora doloremque pariatur, nam tenetur saepe deleniti veritatis.</li>
											</ol>
										</li>
									</ul>

									<p>1.5. Для целей настоящего Положения используются следующие основные понятия:&nbsp;</p>

									<ul>
										<li><strong>коррупция </strong>‒ злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление полномочиями, коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества или услуг имущественного характера, иных имущественных прав для себя или третьих лиц либо незаконное предоставление такой выгоды указанному лицу, другим физическим лицам. Коррупцией также является совершение перечисленных деяний от имени или в интересах юридического лица;</li>
										<li><strong>взятка &nbsp;</strong>‒ получение должностным лицом, иностранным должностным лицом &nbsp;лично или через посредника денег, ценных бумаг, иного имущества либо выгоды в виде услуг имущественного характера, предоставления иных имущественных прав за совершение действий (бездействие) в пользу взяткодателя или представляемых им лиц, если такие действия (бездействие) входят в служебные полномочия должностного лица либо если оно в силу должностного положения может способствовать таким действиям (бездействию), а равно за общее покровительство или попустительство по службе;&nbsp;</li>
										<li><strong>коммерческий подкуп</strong> ‒ незаконная передача лицу, выполняющему управленческие функции в коммерческой или иной организации, денег, ценных бумаг, иного имущества, оказание ему услуг имущественного характера, предоставление иных имущественных прав за совершение действий (бездействие) в интересах дающего в связи с занимаемым этим лицом служебным положением;&nbsp;</li>
										<li><strong>противодействие коррупции</strong> ‒ деятельность федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации, органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их полномочий:&nbsp;</li>
									</ul>

									<ol>
										<li>по предупреждению коррупции, в том числе по выявлению и последующему устранению причин коррупции (профилактика коррупции);&nbsp;</li>
										<li>выявлению, предупреждению, пресечению, раскрытию и расследованию коррупционных правонарушений (борьба с коррупцией);&nbsp;</li>
										<li>минимизации и (или) ликвидации последствий коррупционных правонарушений;&nbsp;</li>
									</ol>

									<ul>
										<li><strong>предупреждение коррупции</strong> ‒ деятельность Общества, направленная на введение элементов корпоративной культуры, организационной структуры, правил и процедур, регламентированных внутренними нормативными документами и обеспечивающих недопущение коррупционных правонарушений;&nbsp;</li>
										<li><strong>работник Общества</strong> ‒ физическое лицо, вступившее в трудовые отношения с Обществом;&nbsp;</li>
										<li><strong>контрагент Общества</strong> ‒ любое российское или иностранное юридическое или физическое лицо, с которым Общество вступает в договорные отношения, за исключением трудовых отношений;&nbsp;</li>
										<li><strong>конфликт интересов</strong> ‒ ситуация, при которой личная заинтересованность (прямая или косвенная) работника Общества (представителя) влияет или может повлиять на надлежащее исполнение им трудовых (должностных) обязанностей;&nbsp;</li>
										<li><strong>личная заинтересованность</strong> ‒ возможность получения доходов в виде денег, иного имущества, в том числе имущественных прав, услуг имущественного характера, результатов выполненных работ или каких-либо выгод (преимуществ) работником Общества и (или) лицами, состоящими с ним в близком родстве или свойстве (родителями, супругами, детьми, братьями, сестрами, а также братьями, сестрами, родителями, детьми супругов и супругами детей), гражданами или организациями, с которыми работник Общества и (или) лица, состоящие с ним в близком родстве или свойстве, связаны имущественными, корпоративными или иными близкими отношениями. <strong>https://psk-si.ru/</strong>.</li>
									</ul>
								</div>

								<div>
									<h2>2. Область применения настоящего Положения и круг лиц, на которых распространяется его действие.</h2>

									<p>2.1. Настоящее Положение распространяется на руководителя и работников Общества вне зависимости от занимаемой должности и выполняемых функций.&nbsp;<br />
										2.2. Нормы настоящего Положения могут распространяться на иных физических и (или) юридических лиц, с которыми Общество вступает в договорные отношения, в случае если это закреплено в договорах, заключаемых Обществом с такими лицами.</p>
								</div>

								<div>
									<h2>3. Основные принципы антикоррупционной политики Общества.</h2>

									<p>3.1. Антикоррупционная политика Общества основывается на следующих основных принципах:&nbsp;<br />
										1) принцип соответствия антикоррупционной политики законодательству Российской Федерации и общепринятым нормам права. Соответствие реализуемых антикоррупционных мероприятий Конституции, заключенным Российской Федерацией международным договорам, законодательству о противодействии коррупции и иным нормативным правовым актам Российской Федерации, действие которых распространяется на Общество;&nbsp;<br />
										2) принцип личного примера руководства.&nbsp;<br />
										&nbsp;Ключевая роль руководителя Общества в формировании культуры нетерпимости к коррупции и в создании внутриорганизационной системы предупреждения и противодействия коррупции в Обществе;&nbsp;<br />
										3) принцип вовлеченности работников.&nbsp;<br />
										Информированность работников Общества о положениях антикоррупционного законодательства, обеспечение их активного участия в формировании и реализации антикоррупционных стандартов и процедур;&nbsp;<br />
										4) принцип соразмерности антикоррупционных процедур коррупционным рискам.&nbsp;<br />
										Разработка и выполнение комплекса мероприятий, позволяющих снизить вероятность вовлечения руководителя Общества и его работников в коррупционную деятельность, осуществляется с учетом существующих в деятельности Общества коррупционных рисков;&nbsp;<br />
										5) принцип эффективности антикоррупционных процедур.&nbsp;<br />
										Реализация антикоррупционных мероприятий простыми способами, имеющими низкую стоимость и приносящими требуемый (достаточный) результат;&nbsp;<br />
										6) принцип ответственности и неотвратимости наказания;&nbsp;<br />
										Неотвратимость наказания для руководителя и работников Общества вне зависимости от занимаемой должности, стажа работы и иных условий в случае совершения ими коррупционных правонарушений в связи с исполнением трудовых обязанностей, а также персональная ответственность руководителя за реализацию антикоррупционной политики Общества;&nbsp;<br />
										7) принцип открытости хозяйственной и иной деятельности. Информирование контрагентов, партнеров и общественности о принятых в Обществе антикоррупционных стандартах и процедурах;&nbsp;<br />
										8) принцип постоянного контроля и регулярного мониторинга.&nbsp;<br />
										Регулярное осуществление мониторинга эффективности внедренных антикоррупционных стандартов и процедур, а также контроля за их исполнением.&nbsp;</p>
								</div>

								<div>
									<h2>4. Основные меры по профилактике коррупции.</h2>

									<p>4.1. Профилактика коррупции осуществляется путем применения следующих основных мер:&nbsp;</p>

									<ul>
										<li>формирование в коллективе Общества нетерпимости к коррупционному поведению;&nbsp;</li>
										<li>формирование у контрагентов Общества нетерпимости к коррупционному поведению;&nbsp;</li>
										<li>проведение мониторинга всех локальных актов, издаваемых администрацией Общества на предмет соответствия действующему законодательству;&nbsp;</li>
										<li>проведение мероприятий по разъяснению работникам Общества и контрагентам Общества законодательства в сфере противодействия коррупции.</li>
									</ul>
								</div>

								<div>
									<h2>5. Основные направления по повышению эффективности противодействия коррупции.</h2>

									<p>5.1. Создание механизма взаимодействия органов управления с органами самоуправления, муниципальными и общественными комиссиями по вопросам противодействия коррупции, а также с гражданами и институтами гражданского общества.&nbsp;<br />
										5.2. Принятие административных и иных мер, направленных на привлечение работников и контрагентов Общества к более активному участию в противодействии коррупции, на формирование в коллективе и у контрагентов Общества негативного отношения к коррупционному поведению.&nbsp;<br />
										5.3. Создание механизмов общественного контроля деятельности органов управления и самоуправления.&nbsp;<br />
										5.4. Уведомление в письменной форме работниками Общества администрации и комиссии по противодействию коррупции обо всех случаях обращения к ним каких-либо лиц в целях склонения их к совершению коррупционных правонарушений.&nbsp;<br />
										5.5. Создание условий для уведомления контрагентами Общества обо всех случаях вымогания у них взяток работниками Общества.&nbsp;</p>
								</div>

								<div>
									<h2>6. Обязанности руководителя и работников по предупреждению коррупции.</h2>

									<p>6.1. Руководитель и работники Общества вне зависимости от должности и стажа работы в связи с исполнением ими трудовых обязанностей в соответствии с трудовым договором должны:&nbsp;</p>

									<ul>
										<li>руководствоваться требованиями настоящего Положения и неукоснительно соблюдать принципы антикоррупционной политики Общества;&nbsp;</li>
										<li>воздерживаться от совершения и (или) участия в совершении коррупционных правонарушений, в том числе в интересах или от имени Общества;&nbsp;</li>
										<li>воздерживаться от поведения, которое может быть истолковано окружающими как готовность совершить или участвовать в совершении коррупционного правонарушения, в том числе в интересах или от имени Общества.&nbsp;</li>
									</ul>

									<p>6.2. Работник Общества вне зависимости от должности и стажа работы в связи с исполнением им трудовых обязанностей в соответствии с трудовым договором должен:&nbsp;</p>

									<ul>
										<li>незамедлительно информировать руководителя Общества и своего непосредственного руководителя о случаях склонения его к совершению коррупционных правонарушений;&nbsp;</li>
										<li>незамедлительно информировать руководителя Общества и своего непосредственного руководителя о ставших известными ему случаях совершения коррупционных правонарушений другими работниками;&nbsp;</li>
										<li>сообщить руководителю Общества и своему непосредственному руководителю о возникшем конфликте интересов либо о возможности его возникновения.&nbsp;</li>
									</ul>

									<p>6.3. Сотрудникам Общества строго запрещается, прямо или косвенно, лично или через посредничество третьих лиц участвовать в коррупционных действиях, получать в связи с исполнением трудовых обязанностей вознаграждения от физических и юридических лиц.&nbsp;<br />
										6.4. С целью противодействия коррупции (предупреждения коррупции, в том числе выявления и последующего устранения причин коррупции (профилактика коррупции) все сотрудники Общества обязаны:&nbsp;</p>

									<ul>
										<li>воздерживаться от совершения и (или) участия в совершении коррупционных правонарушений в интересах и/или от имени ООО &laquo;ПСК СтройИнвест&raquo;;&nbsp;</li>
										<li>воздерживаться от поведения, которое может быть истолковано окружающими как готовность совершить или участвовать в совершении коррупционного правонарушения в интересах или от имени ООО &laquo;ПСК СтройИнвест&raquo;; &nbsp;</li>
										<li>незамедлительно информировать непосредственного руководителя о случаях склонения сотрудника к совершению коррупционных правонарушений;&nbsp;</li>
										<li>незамедлительно информировать непосредственного руководителя о ставшей известной сотруднику информации о случаях совершения коррупционных правонарушений другими работниками, контрагентами или иными лицами;&nbsp;</li>
										<li>информировать непосредственного руководителя о возможности возникновения либо возникшем у сотрудника конфликте интересов.&nbsp;</li>
									</ul>
								</div>

								<div>
									<h2>7. Организационные основы противодействия коррупции.</h2>

									<p>7.1. Общее руководство мероприятиями, направленными на противодействие коррупции, осуществляет &laquo;Комиссия по предупреждению и противодействию коррупции в ООО &laquo;ПСК СтройИнвест&raquo; (далее &ndash; Комиссия).&nbsp;<br />
										Антикоррупционная комиссия создается в количестве 3 человек.&nbsp;<br />
										7.2. Члены антикоррупционной комиссии назначаются руководителем Общества и меняются каждый год.<br />
										&nbsp; &nbsp; &nbsp;Возглавляет работу комиссии председатель комиссии, назначаемый руководителем Организации.<br />
										7.3. Комиссия является совещательным органом, который систематически осуществляет комплекс мероприятий по следующим направлениям:&nbsp;</p>

									<ul>
										<li>подготовка рекомендаций для принятия решений по вопросам предупреждения коррупции в Обществе;&nbsp;</li>
										<li>подготовка предложений, направленных на устранение причин и условий, порождающих риск возникновения коррупции в Обществе;&nbsp;</li>
										<li>разработка и представление на утверждение руководителю Общества проектов локальных нормативных актов, направленных на реализацию мер по предупреждению коррупции;&nbsp;</li>
										<li>проведение контрольных мероприятий, направленных на выявление коррупционных правонарушений, совершенных работниками;&nbsp;</li>
										<li>организация проведения оценки коррупционных рисков;&nbsp;</li>
										<li>организация работы по рассмотрению сообщений о случаях склонения работников к совершению коррупционных правонарушений в интересах или от имени иной организации, а также о случаях совершения коррупционных правонарушений работниками Общества или иными лицами;&nbsp;</li>
										<li>организация работы по рассмотрению сообщений о конфликте интересов;&nbsp;</li>
										<li>оказание содействия уполномоченным представителям контрольно-надзорных и правоохранительных органов при проведении ими проверок деятельности Общества по вопросам предупреждения коррупции;&nbsp;</li>
										<li>оказание содействия уполномоченным представителям правоохранительных органов при проведении мероприятий по пресечению или расследованию коррупционных правонарушений и преступлений, включая оперативно-розыскные мероприятия;&nbsp;</li>
										<li>организация мероприятий по вопросам профилактики и противодействия коррупции в Общества и индивидуального консультирования работников;&nbsp;</li>
										<li>участие в организации антикоррупционной пропаганды;&nbsp;</li>
										<li>ежегодное проведение оценки результатов работы по предупреждению коррупции и подготовка соответствующих отчетных материалов.&nbsp;</li>
									</ul>

									<p>7.4. Комиссия для выполнения вышеуказанных задач имеет право проводить различные проверки, осуществлять запросы в различные подразделения Общества, знакомиться с личными делами сотрудников Общества.<br />
										7.5. Любой сотрудник Общества вправе обратиться в комиссию, в том числе анонимно, с заявлением о ставшем ему известном факте нарушения антикоррупционной политики либо о возможном нарушении антикоррупционной политики.<br />
										7.6. В случае выявления факта нарушения антикоррупционного законодательства комиссия проводит расследование данного факта, выявляет причины совершения коррупционного действия, определяет последствия и докладывает руководителю Общества.<br />
										7.7. Руководитель Общества на основании доклада комиссии принимает соответствующие меры по привлечению виновных к ответственности и устранению последствий вреда, причиненного коррупционными действиями.<br />
										7.8. В случае выявления комиссией обстоятельств, которые могут спровоцировать совершение сотрудником Общества коррупционных действий, комиссия вместе с профсоюзным органом проводят беседы с указанным сотрудником, выясняют причины, которые привели к созданию подобной ситуации, предоставляют руководителю Общества рекомендации по принятию мер для предотвращения подобных ситуаций в отношении данного сотрудника и остальных сотрудников в целом, выявляют сотрудников, попадающих в группу риска по схожим причинам.<br />
										7.9. В случае, если комиссии стало известно о факте нарушения антикоррупционной политики третьими лицами в отношении Общества, комиссия обязана немедленно доложить об этом руководителю Общества для привлечения соответствующих правоохранительных органов и предотвращения причинения вреда Общества.<br />
										7.10. Порядок деятельности, задачи и компетенцию Комиссии определяет утвержденное приказом руководителя Общества &laquo;Положение о Комиссии по предупреждению и противодействию коррупции в ООО &laquo;ПСК СтройИнвест&raquo;.&nbsp;</p>
								</div>

								<div>
									<h2>8. Подарки и представительские расходы.</h2>

									<p>8.1. Подарки и представительские расходы, в том числе на деловое гостеприимство, которые работники Общества от имени Общества могут использовать для дарения другим лицам и организациям, либо которые работники Общества в связи с их профессиональной деятельностью могут получать от других лиц и организаций, должны соответствовать совокупности указанных ниже критериев:&nbsp;</p>

									<ul>
										<li>быть прямо связанными с целями деятельности Общества;&nbsp;</li>
										<li>быть разумно обоснованными, соразмерными и не являться предметами роскоши;&nbsp;</li>
										<li>не представлять собой скрытое вознаграждение за услугу, действие, бездействие, попустительство, покровительство, предоставление прав, принятие определенного решения о сделке, соглашении, разрешении и т.п., или попытку оказать влияние на получателя с иной незаконной или неэтичной целью;&nbsp;</li>
										<li>не создавать репутационного риска для Общества, работников Общества и иных лиц в случае раскрытия информации о подарках или представительских расходах;&nbsp;</li>
										<li>не противоречить нормам действующего законодательства, принципам и требованиям настоящего Положения, другим локальным нормативным актам Общества.&nbsp;</li>
									</ul>

									<p>8.2. Подарки в виде сувенирной продукции (продукции невысокой стоимости) с символикой Общества, предоставляемые на выставках, презентациях, иных мероприятиях, в которых официально участвует Общество, допускаются и рассматриваются в качестве имиджевых материалов.&nbsp;<br />
										8.3. Не допускаются подарки от имени Общества, работников Общества и его представителей третьим лицам в виде денежных средств, наличных или безналичных, в любой валюте.&nbsp;</p>

									<h2>9. Ответственность за несоблюдение требований настоящего Положения и нарушение антикоррупционного законодательства.</h2>

									<p>9.1. Все работники Общества должны руководствоваться настоящим Положением и неукоснительно соблюдать закрепленные в нем принципы и требования.&nbsp;<br />
										9.2. Руководители структурных подразделений являются ответственными за обеспечение контроля за соблюдением требований настоящего Положения своими подчиненными.&nbsp;<br />
										9.3. Граждане Российской Федерации, иностранные граждане и лица без гражданства за совершение коррупционных правонарушений несут уголовную, административную, гражданско-правовую и дисциплинарную ответственность в соответствии с законодательством Российской Федерации.&nbsp;<br />
										9.4. Физическое лицо, совершившее коррупционное правонарушение, по решению суда может быть лишено в соответствии с законодательством Российской Федерации права занимать определенные должности государственной и муниципальной службы.&nbsp;<br />
										9.5. В случае если от имени или в интересах юридического лица осуществляются организация, подготовка и совершение коррупционных правонарушений или правонарушений, создающих условия для совершения коррупционных правонарушений, к юридическому лицу могут быть применены меры ответственности в соответствии с законодательством Российской Федерации.&nbsp;<br />
										9.6. Применение за коррупционное правонарушение мер ответственности к юридическому лицу не освобождает от ответственности за данное коррупционное правонарушение виновное физическое лицо, равно как и привлечение к уголовной или иной ответственности за коррупционное правонарушение физического лица не освобождает от ответственности за данное коррупционное правонарушение юридическое лицо.&nbsp;</p>

									<h2>10. Порядок пересмотра настоящего Положения и внесения в него изменений.</h2>

									<p>10.1. Общество осуществляет регулярный мониторинг эффективности реализации антикоррупционной политики Общества.&nbsp;<br />
										10.2. Пересмотр настоящего Положения может проводиться в случае внесения изменений в трудовое законодательство, законодательство о противодействии коррупции, а также в случае изменения организационно-правовой формы или организационно-штатной структуры Общества.<br />
										&nbsp;</p>
								</div>

								<p>&nbsp;</p>

							</div>

						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <div class="footer-body__item">
                    <span>
                        Коммерческий отдел:
                    </span>
                    <a href="tel:884323338888" class="footer-body__phone">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="footer-body__item">
                    <span>
                        Приемная:
                    </span>
                    <a href="tel:88432333923" class="footer-body__phone">
                        8 (843) 2-333-923
                    </a>
                </div>
                <a href="https://www.youtube.com/@PSK_StroyInvest" target="_blank" class="footer-body__channel">
                    <img src="img/youtube.svg" alt="icon youtube">
                    Мы на YouTube
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Достижения
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/media.html" class="footer-body__list-link">
                        Медиатека
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Материалы для скачивания
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/projects.html" class="footer-body__list-link">
                        Проекты
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Арматура для СИП
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Каталог
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификация
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные поставки
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Изделия
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Доставка и оплата
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
                <a href="" class="footer-copy__privacy-link">
                    Антикоррупционная политика
                </a>
                <a href="" class="footer-copy__privacy-link">
                    Кодекс этики и служебного поведения
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js?_v=20240119185059"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20240119185059"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20240119185059"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20240119185059"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20240119185059"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20240119185059"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20240119185059"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20240119185059"></script>
<script src="js/app.min.js?_v=20240119185059"></script>
	</body>

</html>