<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК | Продукция и услуги </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css?_v=20221208231134">
	<link rel="stylesheet" href="css/reset.min.css?_v=20221208231134">
	<link rel="stylesheet" href="css/style.min.css?_v=20221208231134">


</head>

<body>
	<div class="wrapper">
		<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-white.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 767.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item"><a href="/about.html" class="menu__link ">О КОМПАНИИ</a></li>
                <li class="menu__item"><a href="/products.html" class="menu__link active">ПРОДУКЦИЯ И УСЛУГИ</a></li>
                <li class="menu__item"><a href="/projects.html" class="menu__link ">ПРОЕКТЫ</a></li>
                <li class="menu__item"><a href="/news.html" class="menu__link ">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link ">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">

			<section id="lottie" class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-md">
						<ul class="main__navigation navigation">
							<li class="navigation__item">
								<a href="/" class="navigation__link">Главная</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link active">Продукция и услуги</a>
							</li>
						</ul>
						<h1 class="main__title title-xl">
							Комплексные поставки гражданского строительства
						</h1>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in></canvas>
			</section>
			<div class="page__products products products-offset">
				<div class="products__container">
					<div class="products__wrapper">
						<div class="products__filtres">
							<label class="products__filter">
								<input type="radio" name="type" class="products__filter-input hidden" hidden>
								<span class="products__filter-content">
									<span class="products__filter-title">
										Кабельно-<br>проводниковая продукция
									</span>
									<span class="products__filter-quantity">
										(5)
									</span>
								</span>
							</label>
							<label class="products__filter">
								<input type="radio" name="type" class="products__filter-input hidden" hidden>
								<span class="products__filter-content">
									<span class="products__filter-title">
										Кабельно-несущие системы
									</span>
									<span class="products__filter-quantity">
										(24)
									</span>
								</span>
							</label>
							<label class="products__filter">
								<input type="radio" name="type" class="products__filter-input hidden" hidden>
								<span class="products__filter-content">
									<span class="products__filter-title">
										Трансформаторы тока
									</span>
									<span class="products__filter-quantity">
										(156)
									</span>
								</span>
							</label>
							<label class="products__filter">
								<input type="radio" name="type" class="products__filter-input hidden" hidden>
								<span class="products__filter-content">
									<span class="products__filter-title">
										Муфты, кабельная арматура
									</span>
									<span class="products__filter-quantity">
										(532)
									</span>
								</span>
							</label>
							<label class="products__filter">
								<input type="radio" name="type" class="products__filter-input hidden" hidden>
								<span class="products__filter-content">
									<span class="products__filter-title">
										Светотехническая продукция
									</span>
									<span class="products__filter-quantity">
										(5)
									</span>
								</span>
							</label>
							<label class="products__filter">
								<input type="radio" name="type" class="products__filter-input hidden" hidden>
								<span class="products__filter-content">
									<span class="products__filter-title">
										Приборы учёта
									</span>
									<span class="products__filter-quantity">
										(2442)
									</span>
								</span>
							</label>
						</div>
						<div class="products__body">
							<form action="#" class="products__search search">
								<div class="form__wrapper">
									<input type="text" name="search" class="form__input" placeholder="Поиск">
									<button type="button" class="form__input-clear icon-close"></button>
								</div>
								<button type="submit" class="search__btn btn btn-orange btn-sm icon-search"></button>
							</form>
							<div class="products__content">
								<div class="products__content-header">
									<div class="products__quantity">
										156 товаров
									</div>
									<div class="products__sort dropdown">
										<button class="dropdown__button" type="button">
											По наименованию
										</button>
										<ul class="dropdown__list">
											<li class="dropdown__list-item active" data-value="name">
												По наименованию
											</li>
											<li class="dropdown__list-item" data-value="price">
												По цене
											</li>
											<li class="dropdown__list-item" data-value="actual">
												По популярности
											</li>
										</ul>
										<input type="text" class="dropdown__input hidden" hidden name="sorting" value="name">
									</div>
								</div>
								<div class="products__grid">
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Анкерно-поддерживающая группа СИП-1 и СИП-2
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Наконечники изолиро-ванные CPTA R-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Комплекты промежуточной подвески ES-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>

									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Наконечники изолиро-ванные CPTA R-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Анкерно-поддерживающая группа СИП-1 и СИП-2
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Комплекты промежуточной подвески ES-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>

									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Наконечники изолиро-ванные CPTA R-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Комплекты промежуточной подвески ES-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Анкерно-поддерживающая группа СИП-1 и СИП-2
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>

									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Анкерно-поддерживающая группа СИП-1 и СИП-2
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Наконечники изолиро-ванные CPTA R-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>
									<div class="products__grid-item product">
										<a href="/product.html" class="product__image">
											<picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
										</a>
										<div class="product__desc">
											<a href="/product.html" class="product__title">
												Комплекты промежуточной подвески ES-ПСК
											</a>
											<div class="product__text">
												Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
											</div>
											<a href="/product.html" class="product__link more-link">
												Подробнее
											</a>
										</div>
									</div>

								</div>
								<div class="products__more">
									<a href="" class="btn btn-blue btn-mw">
										Загрузить еще
									</a>
								</div>
								<ul class="products__pagination pagination">
									<li class="pagination__item pagination__item-left">
										<a href="" class="pagination__link icon-arrow"></a>
									</li>
									<li class="pagination__item">
										<a href="" class="pagination__link active">01</a>
									</li>
									<li class="pagination__item">
										<a href="" class="pagination__link">02</a>
									</li>
									<li class="pagination__item">
										<a href="" class="pagination__link">03</a>
									</li>
									<li class="pagination__item">
										<a href="" class="pagination__link">04</a>
									</li>
									<li class="pagination__item">
										...
									</li>
									<li class="pagination__item">
										<a href="" class="pagination__link">24</a>
									</li>
									<li class="pagination__item pagination__item-right">
										<a href="" class="pagination__link icon-arrow"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="products__offers">
						<h2 class="products__offers-title title-xxl">
							Другие предложения
						</h2>
						<div class="products__offers-items">
							<figure class="products__item">
								<picture><source srcset="img/products/01.webp"type="image/webp"><img src="img/products/01.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									СИП-арматура <br>
									собственного производства
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
							<figure class="products__item">
								<picture><source srcset="img/products/02.webp"type="image/webp"><img src="img/products/02.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									Комплектация <br>
									щитового оборудования
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
							<figure class="products__item">
								<picture><source srcset="img/products/03.webp"type="image/webp"><img src="img/products/03.png" alt="product desc"></picture>
								<figcaption class="products__item-desc">
									Комплексные поставки <br>
									гражданского строительства
								</figcaption>
								<a href="" class="products__item-link"></a>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container border-top">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <a href="tel:88432333923" class="footer-body__phone">
                    8 (843) 233-39-23
                </a>
                <a href="tel:88432333888" class="footer-body__phone">
                    8 (843) 2-333-888
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-company">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/sert.html" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/partners.html" class="footer-body__list-link">
                        Партнеры
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/complex.html" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/reviews.html" class="footer-body__list-link">
                        Отзывы
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-offers">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные предложения
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура собственного производства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплектация щитового оборудования
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки гражданского строительства
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Комплексные поставки для промышленности
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    Каталог
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        СИП-арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Светотехническая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Автоматические выключатели 
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Приборы учёта
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы тока
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Трансформаторы ТМГ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-проводниковая продукция
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Подстанции
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Кабельно-несущие системы
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        ДГУ
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Муфты, кабельная арматура
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Щитовое оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <a href="" class="footer-copy__privacy">
                Политика конфиденциальности
            </a>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js?_v=20221208231134"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js?_v=20221208231134"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20221208231134"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20221208231134"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20221208231134"></script>

<script src="js/app.min.js?_v=20221208231134"></script>

</body>

</html>