<!DOCTYPE html>
<html lang="ru">

<head>
	<title> ПСК | Сертификаты </title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="ПСК Стройинвест">
	<meta property="og:description" content="ПСК">
	<meta property="og:url" content="">
	<meta property="og:image" content="/img/OG.jpg">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:site_name" content="ПСК Стройинвест">
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@PSK">
	<meta property="twitter:creator" content="@PSK-author">
	<meta property="twitter:image:src" content="preview image">
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css?_v=20231225203242">
	<link rel="stylesheet" href="css/reset.min.css?_v=20231225203242">
	<link rel="stylesheet" href="css/style.min.css?_v=20231225203242">


</head>

<body>
	<div class="wrapper">
		<header class="header header-white">
    <div class="header__top header-top">
        <div class="header-top__container">
            <a href="/" class="header-top__logo">
                <img src="img/logo-scaling.svg" alt="logo">
            </a>
            <div class="header-top__contacts" data-da=".menu__container, 991.98">
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Коммерческий отдел
                    </div>
                    <a href="tel:884323338888" class="header-top__contact-link">
                        8 (843) 2-333-8888
                    </a>
                    <a href="mailto:sales@psk-si.ru" class="header-top__contact-link">
                        sales@psk-si.ru
                    </a>
                </div>
                <div class="header-top__contact">
                    <div class="header-top__contact-title">
                        Приемная
                    </div>
                    <a href="tel:88432333923" class="header-top__contact-link">
                        8 (843) 2-333-923
                    </a>
                    <a href="mailto:info@psk-si.ru" class="header-top__contact-link">
                        info@psk-si.ru
                    </a>
                </div>
            </div>
            <button type="button" class="header-top__menu-btn icon-menu">
                <span></span>
            </button>
        </div>
    </div>
    <nav class="header__menu menu">
        <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link ">ГЛАВНАЯ</a></li>
                <li class="menu__item menu-parent">
                    <a href="/about.html" class="menu__link">О КОМПАНИИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="/about.html" class="submenu__link">
                                    Основная информация
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/sert.html" class="submenu__link">
                                    Сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/partners.html" class="submenu__link">
                                    Партнеры
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/team.html" class="submenu__link">
                                    Руководство
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/customers.html" class="submenu__link">
                                    Заказчики
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/complex.html" class="submenu__link">
                                    Логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/reviews.html" class="submenu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/media.html" class="submenu__link">
                                    Медиагалерея
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="" class="menu__link">АРМАТУРА ДЛЯ СИП</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu submenu-lg">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая арматура СИП-1 и СИП-2
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Анкерно-поддерживающая группа СИП-4
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Вспомогательная арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Ответвительно-прокалывающая арматура
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Соединительная арматура
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu-parent">
                    <a href="/complex.html" class="menu__link">КОМПЛЕКСНЫЕ ПОСТАВКИ</a>
                    <button class="menu__arrow icon-arrow"></button>
                    <div class="submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    Изделия
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    логистический комплекс
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    сертификаты
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">
                                    доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item"><a href="/news.html" class="menu__link">НОВОСТИ</a></li>
                <li class="menu__item"><a href="/contacts.html" class="menu__link">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </nav>
</header>
		<main class="page">
			<section class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-md">
						<ul class="main__navigation navigation">
							<li class="navigation__item">
								<a href="/" class="navigation__link">Главная</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link active">Сертификаты</a>
							</li>
						</ul>
						<h1 class="main__title title-xl">
							Сертификаты
						</h1>
						<form action="#" class="main__search search">
							<div class="form__wrapper">
								<input type="text" name="search" class="form__input search__input"
									placeholder="Поиск">
								<button type="button" class="form__input-clear icon-close"></button>
							</div>
							<button type="submit" class="search__btn btn btn-orange btn-sm icon-search"></button>
						</form>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in>
			</section>
			<section class="page__about about">
				<div class="about__container">
					<div class="about__body">
						<div class="article__content about__sert">
							<table>
								<thead>
									<tr>
										<th>Мнемокод</th>
										<th>Наименование</th>
										<th>Файл сертификата</th>
										<th>Срок действия</th>
									</tr>
								</thead>
								<tbody>
									<tr class="" data-item-id="1">
										<td>0000075739</td>
										<td>Автотрансформатор АТ-31</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000075739.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">12.04.2027</div>
										</td>
									</tr>
									<tr class="" data-item-id="2">
										<td>0000044335</td>
										<td>Автотрансформатор лабораторный SUNTEK 2000 ВА 8А 0-250/0-300</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000044335.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">31.12.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="3">
										<td>0000043223</td>
										<td>Агрегат пылеулавливающий 570 мм 550 Вт 800 м3/ч 2730 об/мин 570х1640 мм
											ПУ-800</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000043223.zip">Сертификат
													</a>
												</div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">14.03.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="4">
										<td>0000053590</td>
										<td>Агрегат пылеулавливающий 630 мм 600 Вт 1500 м3/час 2750 об/мин 630х1600х520
											мм ПУ-1500</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000053590.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">14.03.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="5">
										<td>0000075560</td>
										<td>Адаптер RK-T2B-B</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000075560.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">11.03.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="6">
										<td>0000060788</td>
										<td>Адаптер АТИС А-310</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000060788.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">11.03.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="7">
										<td>0000030737</td>
										<td>Адаптер АТИС А-340</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000030737.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">11.03.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="8">
										<td>0000037626</td>
										<td>Адаптер АТИС А-360</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000037626.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">11.03.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="9">
										<td>0000063057</td>
										<td>Адаптер для монтажных стаканов SKV-710 950х950х250 мм</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000063057.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">31.12.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="10">
										<td>0000070625</td>
										<td>Адаптер кондиционера Daikin KRP928BB2S 76х141х33,5 мм</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000070625.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">12.07.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="11">
										<td>0000069729</td>
										<td>Адаптер оптический FA-P11Z-SC/SC-N/BK-BL</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000069729.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">13.10.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="12">
										<td>0000042155</td>
										<td>Адаптер оптический FC/UPC SM D-типа</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000042155.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">13.10.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="13">
										<td>0000037158</td>
										<td>Адаптер оптический LC-LC 22,1х9,3х29,2 мм 0-6457567-4 АМР</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000037158.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">13.10.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="14">
										<td>0000062597</td>
										<td>Адаптер оптический LC/UPC-LC/UPC MM duplex</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000062597.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">13.10.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="15">
										<td>0000065197</td>
										<td>Адаптер оптический SC/UPC SM бесфланцевый 130204-00020</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000065197.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">13.10.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="16">
										<td>0000074320</td>
										<td>Адаптер переходной для видеокамеры Dahua DH-PFA107 до 1 кг</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000074320.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">11.02.2024</div>
										</td>
									</tr>
									<tr class="" data-item-id="17">
										<td>0000046462</td>
										<td>Адаптер проходной SNR SC/APC-SC/APC</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000046462.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">16.02.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="18">
										<td>0000076705</td>
										<td>Адаптер сетевой USB EU-4208 Edimax</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000076705.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">31.12.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="19">
										<td>0000033029</td>
										<td>Азот газообразный технический 1 сорт ГОСТ 9293-74</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000033029.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">06.08.2020</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="20">
										<td>0000080813</td>
										<td>Аккумулятор 12 В 0,8 А/ч Delta DT 12008</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000080813.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">01.07.2024</div>
										</td>
									</tr>
									<tr class="" data-item-id="21">
										<td>0000038696</td>
										<td>Аккумулятор 12 В 1,2 А/ч Delta DT 12012</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000038696.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="22">
										<td>0000019835</td>
										<td>Аккумулятор 12 В 100 А/ч Coslight 6-GFM-100X/B</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000019835.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">25.04.2026</div>
										</td>
									</tr>
									<tr class="" data-item-id="23">
										<td>0000031599</td>
										<td>Аккумулятор 12 В 100 А/ч Delta DTM12100</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000031599.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="24">
										<td>0000037595</td>
										<td>Аккумулятор 12 В 12 А/ч Delta DTM1212</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000037595.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="25">
										<td>0000054068</td>
										<td>Аккумулятор 12 В 17 А/ч CSB GP 12170</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000054068.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="26">
										<td>0000039774</td>
										<td>Аккумулятор 12 В 17 А/ч Delta DTM 1217</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000039774.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="27">
										<td>0000019828</td>
										<td>Аккумулятор 12 В 18 А/ч Delta DT1218</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000019828.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="28">
										<td>0000057617</td>
										<td>Аккумулятор 12 В 2,2 А/ч Security Force SF 12022</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000057617.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="29">
										<td>0000063062</td>
										<td>Аккумулятор 12 В 26 А/ч EnerSys Genesis EP G26EP</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000063062.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">23.01.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="30">
										<td>0000033555</td>
										<td>Аккумулятор 12 В 33 А/ч DT 1233</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000033555.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="31">
										<td>0000049259</td>
										<td>Аккумулятор 12 В 4,5 А/ч Security Force</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000049259.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="32">
										<td>0000041698</td>
										<td>Аккумулятор 12 В 40 А/ч DTM 1240</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000041698.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="33">
										<td>0000042664</td>
										<td>Аккумулятор 12 В 45 А/ч Delta HR 12-40</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000042664.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="34">
										<td>0000065066</td>
										<td>Аккумулятор 12 В 5 А/ч CSB HR 1221W F2</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000065066.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="35">
										<td>0000058210</td>
										<td>Аккумулятор 12 В 5 А/ч CSB UPS 122406</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000058210.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="36">
										<td>0000056729</td>
										<td>Аккумулятор 12 В 5 А/ч Delta DTM 1205</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000056729.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="37">
										<td>0000073187</td>
										<td>Аккумулятор 12 В 5 А/ч Eaton 9SXEBM180RT</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000073187.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">18.07.2021</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="38">
										<td>0000049968</td>
										<td>Аккумулятор 12 В 55 А/ч Fiamm 12FGL55</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000049968.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">10.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="39">
										<td>0000019859</td>
										<td>Аккумулятор 12 В 65 А/ч CSB GP 12650</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000019859.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="40">
										<td>0000039773</td>
										<td>Аккумулятор 12 В 7 А/ч Delta DTM 1207</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000039773.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="41">
										<td>0000019862</td>
										<td>Аккумулятор 12 В 7,2 А/ч CSB GP 1272</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000019862.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="42">
										<td>0000019866</td>
										<td>Аккумулятор 12 В 75 А/ч CSB GPL 12750</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000019866.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="43">
										<td>0000031602</td>
										<td>Аккумулятор 12 В 75 А/ч Delta HRL12-75</td>
										<td>
											<div class="js-toggler toggler">показать старые</div>
											<div class="hidden">
												<div class="file"><a href="/import1c/certs/0000031602.zip">Сертификат
													</a></div>
											</div>
										</td>
										<td>
											<div class="hidden">
												<div class="term">29.10.2022</div>
											</div>
										</td>
									</tr>
									<tr class="" data-item-id="44">
										<td>0000052788</td>
										<td>Аккумулятор 12 В 9 А/ч CSB HR1234W</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000052788.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">08.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="45">
										<td>0000069938</td>
										<td>Аккумулятор 12 В 9 А/ч Eaton 9SXEBM48R</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000069938.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">09.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="46">
										<td>0000062826</td>
										<td>Аккумулятор 12 В 9 А/ч Eaton 9SXEBM72R</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000062826.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">09.09.2023</div>
										</td>
									</tr>
									<tr class="" data-item-id="47">
										<td>0000069591</td>
										<td>Аккумулятор 120 В 1080 А/ч APC SYBT5</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000069591.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">16.02.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="48">
										<td>0000036687</td>
										<td>Аккумулятор 120 В 1200 А/ч APC SMX120RMBP2U</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000036687.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">16.02.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="49">
										<td>0000041878</td>
										<td>Аккумулятор 192 В 1920 А/ч APC SURT192RMXLBP</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000041878.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">16.02.2025</div>
										</td>
									</tr>
									<tr class="" data-item-id="50">
										<td>0000054082</td>
										<td>Аккумулятор 230 В 64,8 А/ч APC SYAXR9B9I</td>
										<td>
											<div class="file"><a href="/import1c/certs/0000054082.zip">Сертификат </a>
											</div>
										</td>
										<td>
											<div class="term">16.02.2025</div>
										</td>
									</tr>

								</tbody>
							</table>
							
						</div>
						<ul class="about__pagination pagination">
							<li class="pagination__item pagination__item-left">
								<a href="" aria-disabled="true" class="pagination__link icon-arrow"></a>
							</li>
							<li class="pagination__item">
								<a href="" class="pagination__link active">01</a>
							</li>
							<li class="pagination__item">
								<a href="" class="pagination__link">02</a>
							</li>
							<li class="pagination__item">
								<a href="" class="pagination__link">03</a>
							</li>
							<li class="pagination__item">
								<a href="" class="pagination__link">04</a>
							</li>
							<li class="pagination__item">
								...
							</li>
							<li class="pagination__item">
								<a href="" class="pagination__link">24</a>
							</li>
							<li class="pagination__item pagination__item-right">
								<a href="" class="pagination__link icon-arrow"></a>
							</li>
						</ul>
					</div>
				</div>
			</section>

		</main>
		<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="img/logo-black.svg" alt="logo">
                </div>
                <div class="footer-body__item">
                    <span>
                        Коммерческий отдел:
                    </span>
                    <a href="tel:884323338888" class="footer-body__phone">
                        8 (843) 2-333-8888
                    </a>
                </div>
                <div class="footer-body__item">
                    <span>
                        Приемная:
                    </span>
                    <a href="tel:88432333923" class="footer-body__phone">
                        8 (843) 2-333-923
                    </a>
                </div>
                <a href="https://www.youtube.com/@PSK_StroyInvest" target="_blank" class="footer-body__channel">
                    <img src="img/youtube.svg" alt="icon youtube">
                    Мы на YouTube
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                <li class="footer-body__list-item">
                    <a href="/about.html" class="footer-body__list-link">
                        Основная информация
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Достижения
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/team.html" class="footer-body__list-link">
                        Руководство
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/media.html" class="footer-body__list-link">
                        Медиатека
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/customers.html" class="footer-body__list-link">
                        Заказчики
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Материалы для скачивания
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/projects.html" class="footer-body__list-link">
                        Проекты
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Арматура для СИП
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Каталог
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификация
                    </a>
                </li>
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные поставки
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Изделия
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Доставка и оплата
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Сертификаты
                    </a>
                </li>
                <li class="footer-body__list-item">
                    <a href="" class="footer-body__list-link">
                        Логистический комплекс
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                © 2022 ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy.html" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано в
                </div>
                <a href="" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js?_v=20231225203242"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js?_v=20231225203242"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js?_v=20231225203242"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20231225203242"></script>
<script src="https://www.youtube.com/iframe_api?v2.18&_v=20231225203242"></script>
<script src="js/app.min.js?_v=20231225203242"></script>
</body>

</html>