<div class="tabs__content-item" data-tab-content>
                                <div class="complex__item">
                                    <div class="complex__section">
                                        <div class="complex__title title-md">
                                            {{TITLE}}
                                        </div>
                                        <div class="complex__place">
                                            г. {{TITLESHORT}}
                                        </div>
                                        <ul class="complex__spectification">
                                            {{ATTRSHTML}}
                                        </ul>
                                        <div class="complex__caption">
                                            Погрузочная техника:
                                        </div>
                                        <ul class="complex__list">
                                            {{VEHICLESHTML}}
                                        </ul>
                                        <div class="complex__delivery icon-transport">
                                            {{DELIVERYTEXT}}
                                        </div>
                                    </div>
                                    <div class="complex__section">
                                        <div class="complex__gallery">
                                            {{PHOTOSHTML}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            