<li class="complex__spectification-item">
                                                <div class="complex__spectification-title">
                                                    {{TITLE}}
                                                </div>
                                                <div class="complex__spectification-value">
                                                    {{VALUE}}
                                                </div>
                                            </li>
                                            