<li>
                            <div class="info">
                                <h2 id="store{{ID}}">{{TITLE}}</h2>

                                <ul class="attributes{{ATTRSCLASS}}">
                                    {{ATTRSHTML}}
                                </ul>

                                <h3>Погрузочная техника:</h3>
                                <ul class="vehicles">
                                    {{VEHICLESHTML}}
                                </ul>

                                <div class="delivery">{{DELIVERYTEXT}}</div>
                            </div>

                            <div class="photos">
                                <ul>
                                    {{PHOTOSHTML}}
                                </ul>
                            </div>
                        </li>