<section class="page__main main">
                <div class="main__container">
                    <div class="main__body main__body-md">
                        {{BREADCRUMBS}}
                        <h1 class="main__title title-xl">
                            {{HEADING}}
                        </h1>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in></canvas>
            </section>
            <div class="page__news news {{CLASS}}">
                <div class="news__container">
                    {{FIRSTCARD}}
                    <div class="news__items">
                        {{INCLUDE:LIST}}
                    </div>
                    {{INCLUDE:PAGINATION}}
                </div>
            </div>