<div id="bl-contacts">
            <div class="holder">
                <h2><a href="/contacts/">{{HEADING}}</a></h2>

                <ul>
                    <li>
                        <div class="label">Наш адрес:</div>
                        <div class="value">{{LOCATION}}</div>
                    </li>
                    <li>
                        <div class="label">Телефон для обратной связи:</div>
                        <a href="tel:{{PHONE}}" class="value">{{PHONE}}</a>
                    </li>
                    <li>
                        <div class="label">Почта для обратной связи:</div>
                        <a href="mailto:{{EMAIL}}" class="value">{{EMAIL}}</a>
                    </li>
                </ul>
            </div>
            <div id="map"></div>
        </div>