		<section id="work">
			<div class="holder">
				<div class="upheader">Выполненный проект</div>
				<h1>{{TITLE}}</h1>
			</div>

			<div class="gray-section">
				<div class="holder">
					<h2 class="h1">Задача</h2>
					<p>{{ASSIGNMENT}}</p>
				</div>
			</div>

			<div class="holder">
				<h2 class="h1">Решение</h2>
				{{SOLUTION}}
				<br>

				<h2>Отзыв заказчика</h2>
				{{REVIEW}}
			

				<div class="photos-list mobile-slider" data-mobile="true">
						{{GALLERY}}
				</div>
			</div> 
		</section>
