<div id="js-youtube-video"></div>
            <div class="popup__switcher video__switcher">
                <ul class="video__switcher-list">
                    <li class="video__switcher-item">
                        <a href="{{CODERUS}}" data-lang="ru" class="video__switcher-btn">
                            Руc
                        </a>
                    </li>
                    <li class="video__switcher-item">
                        <a href="{{CODEENG}}" data-lang="en" class="video__switcher-btn">
                            Eng
                        </a>
                    </li>
                </ul>
            </div>