{{SEPARATOR}}
                            <li class="benefits__numbers-item">
                                <a href="{{LINK}}" class="about__numbers-item">
                                    <div class="benefits__numbers-value">
                                        {{VALUE}}
                                    </div>
                                    <div class="benefits__numbers-text">
                                        {{LABEL}}
                                    </div>
                                </a>
                            </li>

                            