                    <div class="sert__item">
                        <a href="{{IMAGE}}" data-fslightbox="sert" class="sert__image">
                            <picture><source srcset="{{PREVIEWWEBP}}" type="image/webp"><img src="{{PREVIEW}}" alt="{{ALT}}" title="{{ALT}}"></picture>
                        </a>
                        <div class="sert__title">
                            {{TITLE}}
                        </div>
                        {{UPLOAD}}
                    </div>
                    