<div class="serts__slide swiper-slide">
                                        <a href="{{IMAGE}}" data-fslightbox="serts" class="serts__slide-image">
                                            <picture><source srcset="{{PREVIEWWEBP}}" type="image/webp"><img src="{{PREVIEW}}" alt="{{ALT}}" title="{{ALT}}"></picture>
                                        </a>
                                        <div class="serts__slide-name">
                                            {{TITLE}}
                                        </div>
                                        {{UPLOAD}}
                                    </div>
                                    