<li>
                        <div class="logo"><img src="{{IMAGE}}" alt="{{ALT}}" title="{{ALT}}" {{STYLE}}></div>
                        <div class="info">
                            <h2>{{TITLE}}</h2>
                            <div class="text">
                                {{DESCRIPTION}}
                            </div>
                            {{LINK}}
                        </div>
                        <div class="clear-l"></div>
                    </li>
                    