                    <div class="company">
                            <div class="company__header">
                                <h2 class="company__title title-md">
                                    {{TITLE}}
                                </h2>
                                <div class="company__logo">
                                    <picture><source srcset="{{IMAGEWEBP}}" type="image/webp"><img src="{{IMAGE}}" alt="{{ALT}}"></picture>
                                </div>
                            </div>
                            <div class="company__desc">
                                {{DESCRIPTION}}
                            </div>
                            {{LINK}}
                            
                        </div>
                        