<footer class="footer">
    <div class="footer__body footer-body">
        <div class="footer-body__container {{CONTAINERCLASS}}">
            <div class="footer-body__main">
                <div class="footer-body__logo">
                    <img src="/img/logo_white_plr.svg" alt="{{ALT}}" title="{{ALT}}">
                </div>
                <div class="footer-body__item">
                    <span>
                        {{LABELCOMMON}}:
                    </span>
                    <a href="tel:{{PHONECOMMONLINK}}" class="footer-body__phone">
                        {{PHONECOMMON}}
                    </a>
                </div>
                <div class="footer-body__item">
                    <span>
                        {{LABEL}}:
                    </span>
                    <a href="tel:{{PHONELINK}}" class="footer-body__phone">
                        {{PHONE}}
                    </a>
                </div>
                <a href="https://www.youtube.com/@PSK_StroyInvest" target="_blank" class="footer-body__channel">
                    <img src="/img/youtube.svg" alt="icon youtube">
                    Мы на YouTube
                </a>
            </div>
            <ul class="footer-body__list footer-body__list-lg">
                <li class="footer-body__list-item footer-body__list-caption">
                    О компании
                </li>
                {{COMPANYNAV}}
            </ul>
            <ul class="footer-body__list">
                <li class="footer-body__list-item footer-body__list-caption">
                    Комплексные поставки
                </li>
                <li class="footer-body__list-item">
                    <a href="/company/stores#equipment" class="footer-body__list-link">Изделия</a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/company/stores#delivery" class="footer-body__list-link">Доставка и оплата</a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/company/stores#serts" class="footer-body__list-link">Сертификаты</a>
                </li>
                <li class="footer-body__list-item">
                    <a href="/company/stores#complex" class="footer-body__list-link">Логистический комплекс</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__container">
            <div class="footer-copy__text">
                &copy; {{YEAR}} ООО “ПСК СтройИнвест”
            </div>
            <div class="footer-copy__privacy">
                <a href="/privacy-policy/" class="footer-copy__privacy-link">
                    Политика конфиденциальности
                </a>
                <a href="/anticorruption-policy/" class="footer-copy__privacy-link">
                    Антикоррупционная политика
                </a>
                <a href="/ethics-code/" class="footer-copy__privacy-link">
                    Кодекс этики и&nbsp;служебного поведения
                </a>
                <a href="/human-rights-policy/" class="footer-copy__privacy-link">
                    Политика в&nbsp;области прав человека
                </a>
                <a href="/health-and-safety-policy/" class="footer-copy__privacy-link">
                    Политика в&nbsp;области охраны труда и&nbsp;промышленной безопасности
                </a>
            </div>
            <div class="footer-copy__production">
                <div class="footer-copy__production-title">
                    Сделано&nbsp;в
                </div>
                <a href="https://proudly.ru/" target="_blank" class="footer-copy__production-link">
                    proudly
                </a>
            </div>
        </div>
    </div>
</footer>