<header>
            <nav>
                <div class="holder">
                    {{NAVIGATION}}

                    {{LOGIN}}
                </div>
            </nav>

            <div class="holder">
                <a href="/" id="logo"><img src="{{LOGO}}" alt="{{ALT}}" title="{{ALT}}"></a>

                <ul class="contacts">
                    <li>
                        <span class="label">{{LABELCOMMON}}</span>
                        <a href="tel:{{PHONECOMMON}}" class="phone">{{PHONECOMMON}}</a>
                        <a href="mailto:{{EMAILCOMMON}}" class="email">{{EMAILCOMMON}}</a>
                    </li>
                    <li>
                        <span class="label">{{LABEL}}</span>
                        <a href="tel:{{PHONE}}" class="phone">{{PHONE}}</a>
                        <a href="mailto:{{EMAIL}}" class="email">{{EMAIL}}</a>
                    </li>                    
                </ul>
            </div>
        </header>