<!DOCTYPE html>
<html lang="ru">

<head>
	<title>{{PAGE:TITLE}}</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{{PAGE:SEO_KEYWORDS}}">
	<meta name="description" content="{{PAGE:SEO_DESCRIPTION}}">

	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- favicon -->

	<!-- Open Graph  -->
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{SETTINGS:SITE_TITLE}}">
	<meta property="og:title" content="{{PAGE:TITLE}} | {{SETTINGS:SITE_TITLE}}">
	<meta property="og:description" name="description" content="{{SETTINGS:SEO_DESCRIPTION}}">
	<meta property="og:url" content="{{SETTINGS:SITE_URL}}">
	<meta property="og:image" content="{{SETTINGS:OGIMAGE}}">
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:locale" content="ru_RU">
	<!-- Open Graph  -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="{{SETTINGS:SITE_TITLE}}">
	<meta name="twitter:description" content="{{SETTINGS:SEO_DESCRIPTION}}"/>
	<meta property="twitter:creator" content="Proudly">
	<meta property="twitter:image:src" content="{{SETTINGS:OGIMAGE}}">
	<meta name="twitter:domain" content="{{SETTINGS:SITE_URL}}"/>
	<!-- Twitter -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css{{VERSION}}">
	<link rel="stylesheet" href="/css/reset.min.css{{VERSION}}">
	<link rel="stylesheet" href="/css/style.min.css{{VERSION}}">


</head>

<body>

	{{SETTINGS:YANDEX_METRIKA}}

	<div class="wrapper">
		{{INCLUDE:HEADER}}
		
		<main class="page">
			{{CONTENT}}
		</main>

		{{INCLUDE:FOOTER}}
	</div>
	{{MODALS}}

	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js{{VERSION}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js{{VERSION}}"></script>

	<script src="https://code.jquery.com/jquery-3.6.1.min.js{{VERSION}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js{{VERSION}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js{{VERSION}}"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&_v=20221209234202"></script>
	<script src="https://www.youtube.com/iframe_api{{VERSION}}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			function getLanguageGroup() {
				var language = getBrowserLocale('language').slice(0, 2);
				if (language == 'ru' || language == 'uk' || language == 'be') return 'ru';
				else return 'en';
			}

			if ($('#bl-video>.video__link').length) {
				var lang = getLanguageGroup();

				$('#bl-video>.video__link').click(function(e) {
					var player = $('#js-youtube-video').data('player');
					if (lang == 'ru') {
						var code = $(this).attr('data-video-code-rus');
					} else {
						var code = $(this).attr('data-video-code-eng');
					}
					new YT.Player('js-youtube-video', {
						height: '100%',
				    	width: '100%',
					  	videoId: code,
					  	playerVars: { 'autoplay': 1, 'controls': 0 }
					});
					player.loadVideoById(code);
					player.playVideo();

					if ($('#video-lang-swticher').length) {
						$('#video-lang-swticher ul>li>a[data-lang="' + lang + '"]').addClass('curr').parent().siblings('li').children('a.curr').removeClass('curr');
						$('#video-lang-swticher ul>li>a').click(function(e) {
							e.preventDefault();

							if (!$(this).hasClass('curr')) {
								var code = $(this).attr('href');
								player.loadVideoById(code);
								player.playVideo();
								$(this).addClass('curr').parent().siblings('li').children('a.curr').removeClass('curr');
							}
						});
					}
				});

				$('#modal-video .modal-close').click(function() {
					var player = $('#js-youtube-video').data('player');
					player.pauseVideo();
					player.stopVideo();
				});
			}
		});
	</script>
	<script type="text/javascript">
  		if (document.getElementById('js-youtube-video')) {
  			function onYouTubeIframeAPIReady() {
				var player = new YT.Player('js-youtube-video', {
				    height: '100%',
				    width: '100%'
				});
				$('#js-youtube-video').data('player', player);
			}
  		}
  	</script>

	<script src="/js/app.min.js{{VERSION}}"></script>

</body>

</html>