<div class="anim-content" id="anim-content">
<section class="page__main main panel">
                <div class="main__container">
                    <div class="main__body">
                        <h1 class="main__title title-xl">
                            {{MAINHEADING}}
                        </h1>
                        <a href="/company/" class="main__btn btn btn-orange">
                            Подробнее
                        </a>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in />
            </section>
            {{DIRECTIONS}}
            {{SLIDER}}
            {{VIDEO}}
            {{PROJECTS}}
            {{ARTICLES}}
            {{STAFF}}
            <div class="page__companies companies" data-animation>
                <div class="companies__container">
                    <div class="companies__columns">
                        {{CLIENTS}}
                        {{PARTNERS}}
                    </div>
                </div>
            </div>