<section class="production">
                    <div class="production__container">
                        <div class="production__body">
                            {{SLIDER}}
                            <div class="production__products">
                                <a href="/production/" class="production__product">
                                    <span class="production__product-image">
                                        <picture><source srcset="/img/scaling/product-1.webp?1" type="image/webp"><img src="/img/scaling/product-1.png?1" alt="Арматура для СИП"></picture>
                                    </span>
                                    <span class="production__product-name">
                                        Собственное <br> производство арматуры для&nbsp;СИП
                                    </span>
                                </a>
                                <a href="/company/stores/" class="production__product">
                                    <span class="production__product-image production__product-image-offset">
                                        <picture><source srcset="/img/scaling/product-2.webp?1" type="image/webp"><img src="/img/scaling/product-2.png?1" alt="Комплексные поставки"></picture>
                                    </span>
                                    <span class="production__product-name">
                                        Комплексные <br> поставки
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            {{VIDEO}}
            {{PROJECTS}}
            {{ARTICLES}}
            <div class="companies">
                    <div class="companies__container">
                        <div class="companies__columns">
                            {{CLIENTS}}
                            {{PARTNERS}}
                        </div>
                    </div>
                </div>