<section class="blue grad">
            <div id="bl-welcome">
                <div class="holder">
                    <h1>{{MAINHEADING}}</h1>

                    <div id="map-animated" data-speed="1">
                        <div id="state0" class="state"></div>
                        <div id="state1" class="state"></div>
                        <div id="state2" class="state"></div>
                        <div id="state3" class="state"></div>
                        <div id="state4" class="state"></div>
                        <div id="state-clear" class="state"></div>
                        <div id="kazan"></div>

                        <div class="contacts">
                            <div class="title">Свяжитесь с нами:</div>
                            <a href="tel:{{PHONECOMMON}}" class="phone">{{PHONECOMMON}}</a>
                            <a href="mailto:{{EMAILCOMMON}}" class="email">{{EMAILCOMMON}}</a>
                        </div>
                    </div>
                    <a href="/company/" class="more">Подробнее</a>
                </div>
            </div>

            {{SLIDER}}

            {{PROJECTS}}
        </section>

        {{CLIENTS}}

        {{ARTICLES}}

        {{PRODUCTION}}

        {{COMPANY}}

        {{ABOUT}}

        {{STAFF}}

        {{PARTNERS}}