<a href="{{LINK}}" class="projects__grid-item project">
                            <span class="project__image">
                                <picture><source srcset="{{IMAGEWEBP}}" type="image/webp"><img src="{{IMAGE}}" class="cover-image" alt="{{ALT}}" title="{{ALT}}"></picture>
                            </span>
                            <span class="project__caption">
                                {{TITLE}}
                            </span>
                        </a>
                        
