<div class="gray-section">
    <div class="holder">
      <div id="bl-news">
        <h2 class="h1"><a href="{{LINK}}">{{TITLE}}</a></h2>
        
        <div class="tools-right">
          <div class="nav-arrows">
            <a class="js-Articles-Prev prev" href="javascript: void(0);" id="prev"></a><!--
            --><a class="js-Articles-Next next act" href="javascript: void(0);" id="next"></a>
          </div>
        </div>

        <ul id='articles-slider' class="js-Articles mobile-slider" data-mobile="true">
          {{LIST}}
        </ul>

        <div class="link-more"><a href="/articles/">Все статьи</a></div>
      </div>
    </div>
  </div>
