<style type="text/css">
  table {
    border: 1px solid #aaa;
    border-collapse: collapse;
    font-size: 12px;
    color: #000;
  }
  th {
    border: 1px solid #aaa;
    font-size: 10px;
  }
  td {
    border: 1px solid #aaa;
    font-weight: 300;
    font-size: 9px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
</style>
<table cellpadding="6" cellspacing="0">
        <thead>
        <tr>
          <th>№</th>
          <th>Контрагент</th>
          <th>
            <span>Объект</span>
          </th>
          <th>
            <span>Филиал</span>
          </th>
          <th>
            <span>Дата</span>
          </th>
        </tr>
        </thead>
        <tbody>
          {{TABLE}}
        </tbody>
      </table>