<section class="projects">
                    <div class="projects__container">
                        <div class="projects__header" data-animation>
                            <h2 class="projects__title title-xl">
                                Наши проекты
                            </h2>
                            <a href="/projects/" class="projects__more more-link">Смотреть все</a>
                        </div>
                        <div class="projects__items">
                            {{LIST}}
                        </div>
                    </div>
                </section>