<div id="bl-promo" class="border-top">
            <div class="holder">
                <div class="author">
                    <img src="{{PHOTOPREVIEW}}" alt="{{ALT}}" title="{{ALT}}">
                    <div class="name">{{NAME}}</div>
                    <div class="post">{{RANK}}</div>
                </div>
                <div class="info">
                    <h2>{{HEADING}}</h2>
                    <div class="text">
                        {{TEXT}}
                    </div>
                    <a href="tel:{{PHONECOMMON}}" class="tel">{{PHONECOMMON}}</a>
                    <a href="mailto:{{EMAILCOMMON}}" class="email">{{EMAILCOMMON}}</a>
                </div>
                <div class="clear-l"></div>
            </div>
        </div>