{{BREADCRUMBS}}

<div class="holder">
            <div id="production">
                <h1>{{TITLE}}</h1>

                <section class="blue inverted limited">
                    {{SHORTDESCRIPTION}}
                </section>

                <ul class="products">
                    {{INCLUDE:PHOTOS}}
                </ul>

                <ul class="subcategories">
                    {{INCLUDE:SUBCATEGORIES}}
                </ul>

                <div class="text">
                    {{DESCRIPTION}}
                </div>
            </div>
        </div>

        {{PROMO}}

        {{OTHER}}