{{BREADCRUMBS}}

<div class="holder">
            <div id="goody">
                <h1>{{TITLE}}</h1>

                <div class="photo">
                    <img src="{{PREVIEWFULL}}" alt="{{ALT}}" title="{{ALT}}">
                </div>
                <div class="description">
                    {{TEXT}}
                </div>
                <div class="clear"></div>

                <table class="chars">
                    <tbody>
                        {{INCLUDE:CHARS}}
                    </tbody>
                </table>

                <div class="description">
                    {{TEXTBOTTOM}}
                </div>
            </div>
        </div>

        {{PROMO}}

        {{OTHER}}