<div class="main__product-footer">
                                        <div class="main__product-thumbs swiper">
                                            <div class="swiper-wrapper">
                                                {{LIST}}
                                            </div>
                                        </div>
                                        <div class="main__product-next"></div>
                                        <div class="main__product-prev"></div>
                                    </div>