<section id="lottie" class="page__main main">
                <div class="main__container">
                    <div class="main__body main__body-md">
                        {{BREADCRUMBS}}
                        <h1 class="main__title title-xl">
                            {{TITLE}}
                        </h1>
                    </div>
                </div>
                <canvas id="gradient-canvas" data-transition-in></canvas>
            </section>
            <div class="page__products products products-offset">
                <div class="products__container">
                    <div class="products__wrapper">
                        <div class="products__filtres">
                            <label class="products__filter">
                                <input type="radio" name="type" class="products__filter-input hidden" hidden>
                                <span class="products__filter-content">
                                    <span class="products__filter-title">
                                        Кабельно-<br>проводниковая продукция
                                    </span>
                                    <span class="products__filter-quantity">
                                        (5)
                                    </span>
                                </span>
                            </label>
                            <label class="products__filter">
                                <input type="radio" name="type" class="products__filter-input hidden" hidden>
                                <span class="products__filter-content">
                                    <span class="products__filter-title">
                                        Кабельно-несущие системы
                                    </span>
                                    <span class="products__filter-quantity">
                                        (24)
                                    </span>
                                </span>
                            </label>
                            <label class="products__filter">
                                <input type="radio" name="type" class="products__filter-input hidden" hidden>
                                <span class="products__filter-content">
                                    <span class="products__filter-title">
                                        Трансформаторы тока
                                    </span>
                                    <span class="products__filter-quantity">
                                        (156)
                                    </span>
                                </span>
                            </label>
                            <label class="products__filter">
                                <input type="radio" name="type" class="products__filter-input hidden" hidden>
                                <span class="products__filter-content">
                                    <span class="products__filter-title">
                                        Муфты, кабельная арматура
                                    </span>
                                    <span class="products__filter-quantity">
                                        (532)
                                    </span>
                                </span>
                            </label>
                            <label class="products__filter">
                                <input type="radio" name="type" class="products__filter-input hidden" hidden>
                                <span class="products__filter-content">
                                    <span class="products__filter-title">
                                        Светотехническая продукция
                                    </span>
                                    <span class="products__filter-quantity">
                                        (5)
                                    </span>
                                </span>
                            </label>
                            <label class="products__filter">
                                <input type="radio" name="type" class="products__filter-input hidden" hidden>
                                <span class="products__filter-content">
                                    <span class="products__filter-title">
                                        Приборы учёта
                                    </span>
                                    <span class="products__filter-quantity">
                                        (2442)
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="products__body">
                            <form action="#" class="products__search search">
                                <div class="form__wrapper">
                                    <input type="text" name="search" class="form__input search__input" placeholder="Поиск">
                                    <button type="button" class="form__input-clear icon-close"></button>
                                </div>
                                <button type="submit" class="search__btn btn btn-orange btn-sm icon-search"></button>
                            </form>
                            <div class="products__content">
                                <div class="products__content-header">
                                    <div class="products__quantity">
                                        156 товаров
                                    </div>
                                    <div class="products__sort dropdown">
                                        <button class="dropdown__button" type="button">
                                            По наименованию
                                        </button>
                                        <ul class="dropdown__list">
                                            <li class="dropdown__list-item active" data-value="name">
                                                По наименованию
                                            </li>
                                            <li class="dropdown__list-item" data-value="price">
                                                По цене
                                            </li>
                                            <li class="dropdown__list-item" data-value="actual">
                                                По популярности
                                            </li>
                                        </ul>
                                        <input type="text" class="dropdown__input hidden" hidden name="sorting" value="name">
                                    </div>
                                </div>
                                <div class="products__grid">
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Анкерно-поддерживающая группа СИП-1 и СИП-2
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Наконечники изолиро-ванные CPTA R-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Комплекты промежуточной подвески ES-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>

                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Наконечники изолиро-ванные CPTA R-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Анкерно-поддерживающая группа СИП-1 и СИП-2
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Комплекты промежуточной подвески ES-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>

                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Наконечники изолиро-ванные CPTA R-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Комплекты промежуточной подвески ES-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Анкерно-поддерживающая группа СИП-1 и СИП-2
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>

                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-1.webp"type="image/webp"><img src="img/products/product-1.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Анкерно-поддерживающая группа СИП-1 и СИП-2
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-2.webp"type="image/webp"><img src="img/products/product-2.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Наконечники изолиро-ванные CPTA R-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                    <div class="products__grid-item product">
                                        <a href="/product.html" class="product__image">
                                            <picture><source srcset="img/products/product-3.webp"type="image/webp"><img src="img/products/product-3.png" alt="product"></picture>
                                        </a>
                                        <div class="product__desc">
                                            <a href="/product.html" class="product__title">
                                                Комплекты промежуточной подвески ES-ПСК
                                            </a>
                                            <div class="product__text">
                                                Соответствует ГОСТ Р 51177; СТО 34.01-2.2-006-2015
                                            </div>
                                            <a href="/product.html" class="product__link more-link">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="products__more">
                                    <a href="" class="btn btn-blue btn-mw">
                                        Загрузить еще
                                    </a>
                                </div>
                                <ul class="products__pagination pagination">
                                    <li class="pagination__item pagination__item-left">
                                        <a href="" aria-disabled="true" class="pagination__link icon-arrow"></a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="" class="pagination__link active">01</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="" class="pagination__link">02</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="" class="pagination__link">03</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="" class="pagination__link">04</a>
                                    </li>
                                    <li class="pagination__item">
                                        ...
                                    </li>
                                    <li class="pagination__item">
                                        <a href="" class="pagination__link">24</a>
                                    </li>
                                    <li class="pagination__item pagination__item-right">
                                        <a href="" class="pagination__link icon-arrow"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="products__offers">
                        <h2 class="products__offers-title title-xxl">
                            Другие предложения
                        </h2>
                        <div class="products__offers-items">
                            <figure class="products__item">
                                <picture><source srcset="img/products/01.webp"type="image/webp"><img src="img/products/01.png" alt="product desc"></picture>
                                <figcaption class="products__item-desc">
                                    СИП-арматура <br>
                                    собственного производства
                                </figcaption>
                                <a href="" class="products__item-link"></a>
                            </figure>
                            <figure class="products__item">
                                <picture><source srcset="img/products/02.webp"type="image/webp"><img src="img/products/02.png" alt="product desc"></picture>
                                <figcaption class="products__item-desc">
                                    Комплектация <br>
                                    щитового оборудования
                                </figcaption>
                                <a href="" class="products__item-link"></a>
                            </figure>
                            <figure class="products__item">
                                <picture><source srcset="img/products/03.webp"type="image/webp"><img src="img/products/03.png" alt="product desc"></picture>
                                <figcaption class="products__item-desc">
                                    Комплексные поставки <br>
                                    гражданского строительства
                                </figcaption>
                                <a href="" class="products__item-link"></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>