<section class="page__main main">
				<div class="main__container">
					<div class="main__body main__body-md">
						{{BREADCRUMBS}}
						<h1 class="main__title title-xl">
							{{TITLE}}
						</h1>
						<form action="{{SEARCHACTION}}" method="GET" accept="#" id="js-search" class="main__search search" onsubmit="function(e) {return true;}">
							<div class="form__wrapper">
								<input type="text" name="search" value="{{SEARCH}}" class="form__input search__input"
									placeholder="Поиск по мнемокоду или наименованию">
								<button type="button" class="form__input-clear icon-close"></button>
							</div>
							<button type="submit" class="search__btn btn btn-orange btn-sm icon-search"></button>
						</form>
					</div>
				</div>
				<canvas id="gradient-canvas" data-transition-in>
			</section>
			<section class="page__about about">
				<div class="about__container">
					<div class="about__body">
						<div class="article__content about__sert">
							<table>
								<thead>
									<tr>
										<th>Мнемокод</th>
										<th>Наименование</th>
										<th>Файл сертификата</th>
										<th>Срок действия</th>
									</tr>
								</thead>
								<tbody>
									{{TABLE}}
								</tbody>
							</table>
							
						</div>

						{{PAGINATION}}
					</div>
				</div>
			</section>

			<script type="text/javascript">
				document.getElementById('js-search').onsubmit = function(e) {
					e.preventDefault();
					
					var keyword = this.search.value;
					window.location = this.getAttribute('action') + (keyword ? keyword : '');
				}
			</script>